<!-- ======================= Hiring Section Start ========================== -->
<section class="hiring-two">
    <div class="container max-w-1740-px">
        <div class="row gy-4">
            <div class="col-xl-7">
                <div class="h-100">
                    <div class="row h-100">
                        <div class="col-xxl-5 col-md-6 col-sm-7">
                            <div class="position-relative h-100 hover-animation-white tw-rounded-xl group-item group">
                                <img src="assets/images/thumbs/hiring-img1.png" alt="Thumbnail"
                                    class="w-100 h-100 tw-rounded-xl object-fit-cover group-hover-item-scale-12 tw-duration-500">
                                <div
                                    class="bg-white tw-rounded-xl tw-p-205 tw-pe-12 d-flex align-items-center tw-gap-5 position-absolute tw-start-0 bottom-0 tw-mx-6 tw-mb-6">
                                    <div class="flex-shrink-0">
                                        <img src="assets/images/thumbs/hiring-short-img.png" alt="Image"
                                            class="tw-rounded-xl w-100 h-100 object-fit-cover">
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="tw-text-lg">Choose Excellence Elevate Your Hiring</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-7 col-md-6 col-sm-5 mt-sm-0 mt-4">
                            <div class="position-relative h-100 hover-animation-white tw-rounded-xl group-item group">
                                <img src="assets/images/thumbs/hiring-img2.png" alt="Thumbnail"
                                    class="w-100 h-100 tw-rounded-xl object-fit-cover group-hover-item-scale-12 tw-duration-500">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="position-relative h-100 hover-animation-white tw-rounded-xl group-item group">
                    <img src="assets/images/thumbs/hiring-img3.png" alt="Thumbnail"
                        class="w-100 h-100 tw-rounded-xl object-fit-cover group-hover-item-scale-12 tw-duration-500">
                    <div
                        class="position-absolute tw-start-0 bottom-0 tw-ms-50-px tw-me-6 tw-mb-6 d-flex align-items-center tw-gap-4 flex-sm-nowrap flex-wrap">
                        <h2 class="fw-normal text-80-px text-white counter">56K+</h2>
                        <p class="text-white h6 font-body fw-normal max-w-200-px">Unlock your business potential with
                            Techito</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================= Hiring Section End ========================== -->