<!-- ============================ About Us Section start ============================= -->
<section class="about pb-120">
    <div class="position-relative">
        <div class="container">
            <div class="row gy-4 align-items-center">
                <div class="col-xl-6">
                    <div class="pe-xl-4">
                        <h2 class="text-white tw-mb-10 splitText">We build strong productive market that increase sales
                            growth
                        </h2>
                        <div class="d-flex flex-column tw-gap-4">
                            <div class="hover-gradient-main border tw-py-8 tw-px-48-px d-flex align-items-sm-center flex-sm-row flex-column tw-gap-8 tw-rounded-2xl bg-white-06 border-white-36 animation-item hover-border-main-600 group group-item tw-duration-500"
                                data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                <span class="flex-shrink-0">
                                    <img src="assets/images/icons/about-icon1.png" alt="Icon"
                                        class="animate__heartBeat group-hover-item-text-invert-white tw-duration-500">
                                </span>
                                <div class="flex-grow-1">
                                    <h5 class="text-white tw-mb-4">Control IT Costs</h5>
                                    <p class="text-neutral-300 group-hover-text-white">We customize our technology to
                                        fit
                                        your specific need as a
                                        ensuring the best possible outcomes.</p>
                                </div>
                            </div>
                            <div class="hover-gradient-main border tw-py-8 tw-px-48-px d-flex align-items-sm-center flex-sm-row flex-column tw-gap-8 tw-rounded-2xl bg-white-06 border-white-36 animation-item hover-border-main-600 group group-item tw-duration-500"
                                data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                                <span class="flex-shrink-0">
                                    <img src="assets/images/icons/about-icon2.png" alt="Icon"
                                        class="animate__heartBeat group-hover-item-text-invert-white tw-duration-500">
                                </span>
                                <div class="flex-grow-1">
                                    <h5 class="text-white tw-mb-4">Increase Productivity</h5>
                                    <p class="text-neutral-300 group-hover-text-white">We customize our technology to
                                        fit
                                        your specific need as a ensuring the best possible outcomes.</p>
                                </div>
                            </div>
                            <div class="hover-gradient-main border tw-py-8 tw-px-48-px d-flex align-items-sm-center flex-sm-row flex-column tw-gap-8 tw-rounded-2xl bg-white-06 border-white-36 animation-item hover-border-main-600 group group-item tw-duration-500"
                                data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
                                <span class="flex-shrink-0">
                                    <img src="assets/images/icons/about-icon3.png" alt="Icon"
                                        class="animate__heartBeat group-hover-item-text-invert-white tw-duration-500">
                                </span>
                                <div class="flex-grow-1">
                                    <h5 class="text-white tw-mb-4">Network Monitoring</h5>
                                    <p class="text-neutral-300 group-hover-text-white">We customize our technology to
                                        fit
                                        your specific need as a ensuring the best possible outcomes.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-6">
                    <div class="about-image ps-xl-4 ">
                        <figure class="split-reveal position-relative overflow-hidden mb-0 h-100">
                            <img src="assets/images/thumbs/about-img.png" alt="Thumb"
                                class="split-reveal-element tw-rounded-2xl w-100 h-100 object-fit-cover origin-left">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ About Us Section End ============================= -->