<!-- =========================== Banner Two section start =========================== -->
<section class="banner-two position-relative z-1">
    <div class="background-img bg-img position-absolute top-0 tw-start-0 w-100 h-100 z-n1"
        data-background-image="assets/images/bg/banner-two-bg.png"></div>

    <div class="container max-w-1750-px">
        <div class="d-flex align-items-end tw-gap-10 justify-content-between flex-lg-nowrap flex-wrap">
            <div class="max-w-1146-px">
                <h1 class="d-flex align-items-center tw-gap-32-px flex-wrap tw-leading-08">
                    <span class="d-inline-block text-main-gradient text-uppercase" data-aos="zoom-in"
                        data-aos-duration="1000" data-aos-delay="100">TECHNOLOGY</span>
                    <span class="d-xl-inline-block d-none" data-aos="zoom-in" data-aos-duration="1000"
                        data-aos-delay="150">
                        <img src="assets/images/thumbs/banner-two-img1.png" alt="Thumbnail"
                            class="banner-img tw-rounded-lg object-fit-cover">
                    </span>
                    <span class="d-xl-inline-block d-none" data-aos="zoom-in" data-aos-duration="1000"
                        data-aos-delay="200">
                        <img src="assets/images/thumbs/banner-two-img2.png" alt="Thumbnail"
                            class="banner-img tw-rounded-lg object-fit-cover">
                    </span>
                    <span class="d-inline-block text-heading text-uppercase" data-aos="zoom-in" data-aos-duration="1000"
                        data-aos-delay="250">FOR</span>
                    <span class="d-xl-inline-block d-none" data-aos="zoom-in" data-aos-duration="1000"
                        data-aos-delay="300">
                        <img src="assets/images/thumbs/banner-two-img1.png" alt="Thumbnail"
                            class="banner-img rounded-pill object-fit-cover">
                    </span>
                    <span class="d-inline-block text-heading text-uppercase" data-aos="zoom-in" data-aos-duration="1000"
                        data-aos-delay="350">GROWTH</span>
                </h1>
            </div>
            <div class="max-w-410-px">
                <p class="text-neutral-500" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="250">Techito is
                    a pioneering IT solutions provider focused on empowering
                    businesses with innovative technology and tailored services.</p>
                <div class="tw-mt-9" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="250">
                    <a href="service.html"
                        class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center group active--translate-y-2 tw-py-505 tw-px-105 rounded-pill"
                        data-block="button">
                        <span class="button__flair"></span>
                        <span class="button__label tw-pe-6 tw-ps-9">Explore Our Solutions</span>
                        <span
                            class="button-icon__right tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="tw-mt-16">
            <img src="assets/images/thumbs/banner-two-thumb.png" alt="Thumbnail"
                class="w-100 h-100 object-fit-cover tw-rounded-xl">
        </div>
    </div>
</section>
<!-- =========================== Banner Two section end =========================== -->