<!-- =========================== Banner Section Start ========================== -->
<section class="banner position-relative z-1">
    <img src="assets/images/shapes/banner-pattern-shape.png" alt="Pattern Shape"
        class="position-absolute tw-end-0 top-0">
    <div class="arrow-stroke position-absolute animated-upDown ">
        <img src="assets/images/shapes/arrow-stroke.png" alt="Arrow Shape" class="rotate-on-scroll ">
    </div>

    <div class="container max-w-1740-px">
        <div class="d-flex justify-content-between position-relative z-1 flex-xl-nowrap flex-wrap">
            <div class="max-w-690-px">
                <h1 class="text-white splitText">Build Future with</h1>
                <p class="text-white" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">We immerse
                    ourselves in your issues and we put our knowledge and expertise at
                    your service to provide you with an informed response.</p>
                <div class="tw-mt-10" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                    <a href="contact.html" target="_blank"
                        class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center group active--translate-y-2 tw-py-505 tw-px-105 rounded-pill"
                        data-block="button">
                        <span class="button__flair"></span>
                        <span class="button__label tw-pe-6 tw-ps-9">Explore Our Solutions</span>
                        <span
                            class="button-icon__right tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                    </a>
                </div>

                <div class="d-flex align-items-center tw-gap-705 flex-sm-nowrap flex-wrap tw-mt-96-px"
                    data-aos="fade-up" data-aos-duration="800" data-aos-delay="600">
                    <div class="d-flex align-items-center pointer-events-auto">
                        <div
                            class="pointer-events-auto tw-w-15 tw-h-15 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative z-0">
                            <img src="assets/images/thumbs/client-img1.png" alt="Client Image"
                                class="w-100 h-100 object-fit-cover">
                        </div>
                        <div
                            class="pointer-events-auto tw-w-15 tw-h-15 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative tw--ms-20-px z-1">
                            <img src="assets/images/thumbs/client-img2.png" alt="Client Image"
                                class="w-100 h-100 object-fit-cover">
                        </div>
                        <div
                            class="pointer-events-auto tw-w-15 tw-h-15 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative tw--ms-20-px z-1">
                            <img src="assets/images/thumbs/client-img3.png" alt="Client Image"
                                class="w-100 h-100 object-fit-cover">
                        </div>
                        <div
                            class="pointer-events-auto tw-w-15 tw-h-15 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative tw--ms-20-px z-1 fw-semibold tw-text-xl d-flex justify-content-center align-items-center gradient-bg-main text-white">
                            <span class="counter"> 4k+ </span>
                        </div>
                    </div>
                    <p class="fw-normal text-white max-w-250-px text-balance">
                        Trusted By <span class="counter">5000+</span> Worldwide Brand & Customers
                    </p>
                </div>
            </div>
            <div class="man-image position-absolute start-50 top-50 translate-middle z-n1 d-xl-block d-none">
                <div class=" man-image__img">
                    <img src="assets/images/thumbs/banner-img.png" alt="Image"
                        class="animated-upDown animation-delay-1">
                </div>
            </div>
            <div class="banner-right-content d-flex flex-column justify-content-between tw-gap-8">
                <div class="text-center">
                    <div class="hover-parallax-wrapper rotate-on-scroll d-inline-block">
                        <a href="about.html" class="d-inline-block position-relative hover-parallax-item">
                            <img src="assets/images/icons/rotate-text.png" alt="Icon" class="animation-rotate-right">
                            <img src="assets/images/icons/arrow-right-up-long.png" alt="Icon"
                                class="position-absolute top-50 start-50 translate-middle animation-rotate-right">
                        </a>
                    </div>
                </div>
                <div class="max-w-690-px" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                    <h2 class="h1 text-main-gradient"> Smarter <br> IT Company </h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== Banner Section End ========================== -->