<!-- =============================== Blog Section start =============================== -->
<section class="blog py-120">
    <div class="container">
        <div class="section-heading tw-mb-15 text-center max-w-690-px mx-auto">
            <h2 class="text-white splitText">Read Our Latest Trends and Blog Posts</h2>
        </div>
        <div class="row gy-4">
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                <div class="blog-item group group-item">
                    <div class="position-relative z-1">
                        <a href="blog-details.html" class="w-100 hover-animation-white tw-rounded-xl overflow-hidden">
                            <img src="assets/images/thumbs/blog-img1.png" alt="Image"
                                class="w-100 h-100 object-fit-cover tw-rounded-xl group-hover-item-scale-12 tw-duration-500">
                        </a>
                        <span
                            class="gradient-bg-main text-white twtesm fw-medium tw-py-105 tw-px-4 position-absolute bottom-0 tw-start-0 tw-mb-17 tw-ms-4 z-2 tw-rounded-md">Finance</span>
                    </div>
                    <div class="blog-item__content">
                        <div class="tw-mb-6 d-flex align-items-center tw-gap-4">
                            <div class="d-flex align-items-center tw-gap-105">
                                <span class="text-main-600">
                                    <i class="ph-bold ph-calendar-blank"></i>
                                </span>
                                <span class="text-white fw-medium">09 May, 2025</span>
                            </div>
                            <span class="tw-h-px tw-w-3 gradient-bg-main"></span>
                            <span class="text-white fw-medium">Business</span>
                        </div>
                        <h5 class="text-white">
                            <a href="blog-details.html" class="hover-text-main-600 line-clamp-3">
                                Retro flat design: a nostalgic approach to contemporary
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                <div class="blog-item group group-item">
                    <div class="position-relative z-1">
                        <a href="blog-details.html" class="w-100 hover-animation-white tw-rounded-xl overflow-hidden">
                            <img src="assets/images/thumbs/blog-img2.png" alt="Image"
                                class="w-100 h-100 object-fit-cover tw-rounded-xl group-hover-item-scale-12 tw-duration-500">
                        </a>
                        <span
                            class="gradient-bg-main text-white twtesm fw-medium tw-py-105 tw-px-4 position-absolute bottom-0 tw-start-0 tw-mb-17 tw-ms-4 z-2 tw-rounded-md">Finance</span>
                    </div>
                    <div class="blog-item__content">
                        <div class="tw-mb-6 d-flex align-items-center tw-gap-4">
                            <div class="d-flex align-items-center tw-gap-105">
                                <span class="text-main-600">
                                    <i class="ph-bold ph-calendar-blank"></i>
                                </span>
                                <span class="text-white fw-medium">09 May, 2025</span>
                            </div>
                            <span class="tw-h-px tw-w-3 gradient-bg-main"></span>
                            <span class="text-white fw-medium">Business</span>
                        </div>
                        <h5 class="text-white">
                            <a href="blog-details.html" class="hover-text-main-600 line-clamp-3">
                                The evolution of retro flat design through the decades
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                <div class="blog-item group group-item">
                    <div class="position-relative z-1">
                        <a href="blog-details.html" class="w-100 hover-animation-white tw-rounded-xl overflow-hidden">
                            <img src="assets/images/thumbs/blog-img3.png" alt="Image"
                                class="w-100 h-100 object-fit-cover tw-rounded-xl group-hover-item-scale-12 tw-duration-500">
                        </a>
                        <span
                            class="gradient-bg-main text-white twtesm fw-medium tw-py-105 tw-px-4 position-absolute bottom-0 tw-start-0 tw-mb-17 tw-ms-4 z-2 tw-rounded-md">Finance</span>
                    </div>
                    <div class="blog-item__content">
                        <div class="tw-mb-6 d-flex align-items-center tw-gap-4">
                            <div class="d-flex align-items-center tw-gap-105">
                                <span class="text-main-600">
                                    <i class="ph-bold ph-calendar-blank"></i>
                                </span>
                                <span class="text-white fw-medium">09 May, 2025</span>
                            </div>
                            <span class="tw-h-px tw-w-3 gradient-bg-main"></span>
                            <span class="text-white fw-medium">Business</span>
                        </div>
                        <h5 class="text-white">
                            <a href="blog-details.html" class="hover-text-main-600 line-clamp-3">
                                Profitable Business Makes Your Profit in Suitability
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =============================== Blog Section End =============================== -->