<!-- ============================== Blog Two section start =============================== -->
<section class="blog-two py-120">
    <div class="container">
        <div class="row gy-4">
            <div class="col-xl-8" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                <div
                    class="section-bg tw-p-4 tw-pe-6 tw-rounded-xl group group-item d-flex tw-gap-42-px h-100 flex-sm-row flex-column">
                    <div class="h-100 w-100 tw-max-h-462-px">
                        <a href="blog-details.html" class="hover-animation-white w-100 tw-rounded-xl d-flex h-100">
                            <img src="assets/images/thumbs/blog-two-img.png" alt="Thumbnail"
                                class="w-100 h-100 object-fit-cover tw-rounded-xl tw-duration-500 group-hover-item-scale-12">
                        </a>
                    </div>
                    <div class="align-self-sm-center align-self-start max-w-346-px">
                        <span
                            class="bg-main-600 tw-text-sm fw-medium text-white tw-py-1 tw-px-4 tw-rounded-md tw-mb-5">Finance</span>
                        <h4 class="">
                            <a href="blog-details.html" class="hover-text-main-600">Ready to Take Your Digital Presence
                                to the Next Level?</a>
                        </h4>
                        <p class="text-neutral-500 tw-text-lg tw-mt-5">We are a creative agency brands building
                            insightful strategy, creating unique designs helping</p>
                        <div class="element-double-animation tw-mt-8">
                            <a href="blog-details.html"
                                class="text-main-600 fw-semibold border-bottom border-main-600 hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item">
                                <span class="element-double-animation__element hover-element-main-two-600"
                                    data-content="Explore Details">Explore Details</span>
                                <span class="group-hover-item-rotate-45-deg tw-duration-300">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                <div class="section-bg tw-rounded-xl tw-py-44-px tw-px-36-px h-100">
                    <div class="tw-pb-6 tw-mb-6 border-bottom border-neutral-300">
                        <div class="tw-mb-5 d-flex align-items-center tw-gap-4">
                            <div class="d-flex align-items-center tw-gap-105">
                                <span class="text-main-600">
                                    <i class="ph-bold ph-calendar-blank"></i>
                                </span>
                                <span class="text-neutral-500 fw-medium">09 May, 2025</span>
                            </div>
                            <span class="tw-h-px tw-w-3 gradient-bg-main"></span>
                            <span class="text-neutral-500 fw-medium">Business</span>
                        </div>
                        <h6 class="tw-text-lg">
                            <a href="blog-details.html" class="hover-text-main-600 tw-leading-16">Retro flat design: a
                                nostalgic
                                approach to contemporary art</a>
                        </h6>
                    </div>
                    <div class="tw-pb-6 tw-mb-6 border-bottom border-neutral-300">
                        <div class="tw-mb-5 d-flex align-items-center tw-gap-4">
                            <div class="d-flex align-items-center tw-gap-105">
                                <span class="text-main-600">
                                    <i class="ph-bold ph-calendar-blank"></i>
                                </span>
                                <span class="text-neutral-500 fw-medium">10 June, 2025</span>
                            </div>
                            <span class="tw-h-px tw-w-3 gradient-bg-main"></span>
                            <span class="text-neutral-500 fw-medium">Business</span>
                        </div>
                        <h6 class="tw-text-lg">
                            <a href="blog-details.html" class="hover-text-main-600 tw-leading-16">The evolution of retro
                                flat design through the decades</a>
                        </h6>
                    </div>
                    <div class="">
                        <div class="tw-mb-5 d-flex align-items-center tw-gap-4">
                            <div class="d-flex align-items-center tw-gap-105">
                                <span class="text-main-600">
                                    <i class="ph-bold ph-calendar-blank"></i>
                                </span>
                                <span class="text-neutral-500 fw-medium">16 July, 2025</span>
                            </div>
                            <span class="tw-h-px tw-w-3 gradient-bg-main"></span>
                            <span class="text-neutral-500 fw-medium">Business</span>
                        </div>
                        <h6 class="tw-text-lg">
                            <a href="blog-details.html" class="hover-text-main-600 tw-leading-16">Profitable Business
                                Makes Your Profit in Suitability</a>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================== Blog Two section end =============================== -->