<!-- ======================== Brand section start ========================== -->
<div class="brand pb-120">
    <div class="container max-w-1410-px">
        <div class="border-center tw-mb-15 text-center overflow-hidden">
            <div
                class="border-left-right bg-white-06 tw-py-4 tw-px-6 text-white d-inline-block rounded-pill border border-white-26 text-uppercase">
                Trusted by 500 teams to
                empower 2,00,000+ people</div>
        </div>
        <div class="swiper brand-slider left-right-gradient gradient-width-200">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800"
                        data-aos-delay="100">
                        <div class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300">
                            <img src="assets/images/thumbs/brand-img1.png" alt="Logo">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800"
                        data-aos-delay="200">
                        <div class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300">
                            <img src="assets/images/thumbs/brand-img2.png" alt="Logo">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800"
                        data-aos-delay="300">
                        <div class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300">
                            <img src="assets/images/thumbs/brand-img3.png" alt="Logo">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800"
                        data-aos-delay="400">
                        <div class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300">
                            <img src="assets/images/thumbs/brand-img4.png" alt="Logo">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800"
                        data-aos-delay="500">
                        <div class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300">
                            <img src="assets/images/thumbs/brand-img5.png" alt="Logo">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800"
                        data-aos-delay="600">
                        <div class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300">
                            <img src="assets/images/thumbs/brand-img6.png" alt="Logo">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800"
                        data-aos-delay="700">
                        <div class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300">
                            <img src="assets/images/thumbs/brand-img3.png" alt="Logo">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800"
                        data-aos-delay="400">
                        <div class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300">
                            <img src="assets/images/thumbs/brand-img4.png" alt="Logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======================== Brand section End ========================== -->