<!-- ====================== Contact One section start ============================== -->
<section class="contact-one py-80 position-relative z-1">
    <div class="background-img bg-img position-absolute top-0 tw-start-0 w-100 h-100 z-n1"
        data-background-image="assets/images/bg/contact-one-bg.png"></div>
    <img src="assets/images/thumbs/contact-one-img.png" alt="Image"
        class="end-62-percent position-absolute bottom-0 z-1 d-lg-block d-none">

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-5 d-lg-block d-none">
                <div class="text-end tw-p-10 tw-me-10">
                    <div class="animated-upDown">
                        <img src="assets/images/shapes/arrow-stroke-two.png" alt="Arrow Shape"
                            class="rotate-on-scroll ">
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="blur-bg-white tw-p-60-px tw-rounded-lg">
                    <h2 class="text-white splitText tw-mb-10">Let's Start Together.</h2>
                    <form action="#" class="form-submit">
                        <div class="row gy-4">
                            <div class="col-sm-6">
                                <div class="">
                                    <label for="name" class="tw-text-sm text-white tw-mb-2 d-block">Your name*</label>
                                    <input type="text" id="name"
                                        class="bg-white border border-white focus-border-main-600 focus-outline-0 tw-px-6 tw-py-3 tw-h-13 tw-rounded-md w-100"
                                        placeholder="William John" required="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="">
                                    <label for="email" class="tw-text-sm text-white tw-mb-2 d-block">Your email*</label>
                                    <input type="email" id="email"
                                        class="bg-white border border-white focus-border-main-600 focus-outline-0 tw-px-6 tw-py-3 tw-h-13 tw-rounded-md w-100"
                                        placeholder="william@gmail.com" required="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="">
                                    <label for="tel" class="tw-text-sm text-white tw-mb-2 d-block">Your Phone*</label>
                                    <input type="text" id="tel"
                                        class="bg-white border border-white focus-border-main-600 focus-outline-0 tw-px-6 tw-py-3 tw-h-13 tw-rounded-md w-100"
                                        placeholder="+12 (029) 993 442" required="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="">
                                    <label for="department" class="tw-text-sm text-white tw-mb-2 d-block">Your
                                        Subject*</label>
                                    <select
                                        class="bg-white border border-white focus-border-main-600 focus-outline-0 tw-px-6 tw-py-1 tw-rounded-md tw-h-13 w-100 form-select shadow-none"
                                        id="department">
                                        <option value="Choose one" disabled hidden>Choose one</option>
                                        <option value="Digital Marketing">Digital Marketing</option>
                                        <option value="SEO">SEO</option>
                                        <option value="Digital Agency">Digital Agency</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="">
                                    <label for="department" class="tw-text-sm text-white tw-mb-2 d-block">Your
                                        services*</label>
                                    <select
                                        class="bg-white border border-white focus-border-main-600 focus-outline-0 tw-px-6 tw-py-1 tw-rounded-md tw-h-13 w-100 form-select shadow-none"
                                        id="department">
                                        <option value="Choose your services" disabled hidden>Choose your services
                                        </option>
                                        <option value="Digital Marketing">Digital Marketing</option>
                                        <option value="SEO">SEO</option>
                                        <option value="Digital Agency">Digital Agency</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="common-check d-flex align-items-center tw-gap-2 tw-mt-4">
                                    <input class="form-check-input border border-white rounded-circle" type="checkbox"
                                        id="remember">
                                    <div class="form-check-label text-white fw-normal">
                                        <label class="" for="remember"> Data Protection Regulation and our </label>
                                        <a href="javascript:void(0)"
                                            class="text-decoration-underline text-white fw-bold hover--translate-y-1 active-scale-09 hover-text-main-600">Privacy
                                            Policy.</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 d-inline-block">
                                <button type="submit"
                                    class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center group active--translate-y-2 tw-py-505 tw-px-105 rounded-pill"
                                    data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label tw-pe-6 tw-ps-9">Send Message</span>
                                    <span
                                        class="button-icon__right tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                                        <img src="assets/images/icons/arrow-right-black.png" alt="Icon">
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="marquee overflow-hidden position-relative w-100 pt-80" data-aos="fade-up" data-aos-duration="800"
        data-aos-delay="100">
        <div class="marquee_left d-flex align-items-center tw-gap-16 overflow-hidden">
            <h2 class="scrollingTextRightToLeft h1 text-white-50 text-uppercase hover-text-white">
                GET IN TOUCH
            </h2>
            <h2 class="scrollingTextRightToLeft h1 text-white-50 text-uppercase hover-text-white">
                .
            </h2>
            <h2 class="scrollingTextRightToLeft h1 text-white-50 text-uppercase hover-text-white">
                GET IN TOUCH
            </h2>
            <h2 class="scrollingTextRightToLeft h1 text-white-50 text-uppercase hover-text-white">
                .
            </h2>
            <h2 class="scrollingTextRightToLeft h1 text-white-50 text-uppercase hover-text-white">
                GET IN TOUCH
            </h2>
        </div>
    </div>

</section>
<!-- ====================== Contact One section end ============================== -->