<!-- ========================= Counter Two section start ================================ -->
<section class="counter-two py-120 gradient-bg-main">
    <div class="container">
        <div class="grid-xl-2 d-flex align-items-center tw-gap-6 justify-content-between flex-xl-nowrap flex-wrap">
            <div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="counter-two-item d-flex align-items-center tw-gap-3 max-w-280-p">
                    <h2 class="text-white text-66-px fw-semibold flex-shrink-0"><span class="counter">56K+</span></h2>
                    <p class="text-white h6 fw-normal font-body">Years of <br> Experience</p>
                </div>
            </div>
            <div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                <div class="counter-two-item d-flex align-items-center tw-gap-3 max-w-280-p">
                    <h2 class="text-white text-66-px fw-semibold flex-shrink-0"><span class="counter">33+</span></h2>
                    <p class="text-white h6 fw-normal font-body">Skilled <br> Professionals</p>
                </div>
            </div>
            <div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div class="counter-two-item d-flex align-items-center tw-gap-3 max-w-280-p">
                    <h2 class="text-white text-66-px fw-semibold flex-shrink-0"><span class="counter">2K+</span></h2>
                    <p class="text-white h6 fw-normal font-body">Visited <br> Conferences</p>
                </div>
            </div>
            <div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                <div class="counter-two-item d-flex align-items-center tw-gap-3 max-w-280-p">
                    <h2 class="text-white text-66-px fw-semibold flex-shrink-0"><span class="counter">5K</span></h2>
                    <p class="text-white h6 fw-normal font-body">Projects <br> Worldwide</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ========================= Counter Two section end ================================ -->