<!-- =========================== Counter section start =============================== -->
<section class="counter py-120">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-3 col-6">
                <div class="counter-item text-center">
                    <h2 class="text-white text-80-px fw-normal">$<span class="counter">3</span>B+</h2>
                    <p class="text-white h6 fw-normal tw-mt-4">Cumulative trading volume</p>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="counter-item text-center">
                    <h2 class="text-white text-80-px fw-normal"><span class="counter">120</span>+</h2>
                    <p class="text-white h6 fw-normal tw-mt-4">Country & Regions</p>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="counter-item text-center">
                    <h2 class="text-white text-80-px fw-normal"><span class="counter">56</span>+</h2>
                    <p class="text-white h6 fw-normal tw-mt-4">Million IT Coverage</p>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="counter-item text-center">
                    <h2 class="text-white text-80-px fw-normal"><span class="counter">56</span>K+</h2>
                    <p class="text-white h6 fw-normal tw-mt-4">Successful Projects</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== Counter section end =============================== -->