<!-- ========================== Creative team section start ============================== -->
<section class="creative-team py-120">
    <div class="container">
        <div class="">
            <div class="tw-mb-4">
                <h2 class="text-white splitText">Meet With Our Creative Team</h2>
            </div>

            <div class="scroll-in-mobile scroll-sm">
                <div class="team-item-wrapper min-w-max">
                    <div class="team-item d-flex align-items-center justify-content-between tw-gap-6 tw-py-13 border-bottom border-white-26 position-relative z-1"
                        data-aos="fade-up" data-aos-duration="800" data-aos-delay="50" data-index-number="0">
                        <div class="d-flex align-items-end tw-gap-4">
                            <h2 class="text-white-30">Stiven Dowson</h2>
                            <span class="text-white tw-mb-2">/ Product Designer</span>
                        </div>
                        <div class="position-relative z-3 ">
                            <a href="team-details.html"
                                class="tw-px-9 tw-py-4 border border-white rounded-pill text-white fw-semibold hover-gradient-main overflow-hidden hover-border-main-600 active-scale-09">View
                                Profile</a>
                        </div>
                    </div>
                    <div class="team-item d-flex align-items-center justify-content-between tw-gap-6 tw-py-13 border-bottom border-white-26 position-relative z-1"
                        data-aos="fade-up" data-aos-duration="800" data-aos-delay="100" data-index-number="1">
                        <div class="d-flex align-items-end tw-gap-4">
                            <h2 class="text-white-30">Anna Smith</h2>
                            <span class="text-white tw-mb-2">/ Product Designer</span>
                        </div>
                        <div class="position-relative z-3 ">
                            <a href="team-details.html"
                                class="tw-px-9 tw-py-4 border border-white rounded-pill text-white fw-semibold hover-gradient-main overflow-hidden hover-border-main-600 active-scale-09">View
                                Profile</a>
                        </div>
                    </div>
                    <div class="team-item d-flex align-items-center justify-content-between tw-gap-6 tw-py-13 border-bottom border-white-26 position-relative z-1"
                        data-aos="fade-up" data-aos-duration="800" data-aos-delay="150" data-index-number="2">
                        <div class="d-flex align-items-end tw-gap-4">
                            <h2 class="text-white-30">Adam King</h2>
                            <span class="text-white tw-mb-2">/ Product Designer</span>
                        </div>
                        <div class="position-relative z-3 ">
                            <a href="team-details.html"
                                class="tw-px-9 tw-py-4 border border-white rounded-pill text-white fw-semibold hover-gradient-main overflow-hidden hover-border-main-600 active-scale-09">View
                                Profile</a>
                        </div>
                    </div>
                    <div class="team-item d-flex align-items-center justify-content-between tw-gap-6 tw-py-13 border-bottom border-white-26 position-relative z-1"
                        data-aos="fade-up" data-aos-duration="800" data-aos-delay="200" data-index-number="3">
                        <div class="d-flex align-items-end tw-gap-4">
                            <h2 class="text-white-30">Matey Black</h2>
                            <span class="text-white tw-mb-2">/ Product Designer</span>
                        </div>
                        <div class="position-relative z-3 ">
                            <a href="team-details.html"
                                class="tw-px-9 tw-py-4 border border-white rounded-pill text-white fw-semibold hover-gradient-main overflow-hidden hover-border-main-600 active-scale-09">View
                                Profile</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="team-item-image-wrapper">
        <div class="team-item-image">
            <img src="assets/images/thumbs/creative-solution-img1.png" alt="Thumbnail">
            <img src="assets/images/thumbs/team-img1.png" alt="Thumbnail">
            <img src="assets/images/thumbs/creative-solution-img3.png" alt="Thumbnail">
            <img src="assets/images/thumbs/creative-solution-img4.png" alt="Thumbnail">
        </div>
    </div>
</section>
<!-- ========================== Creative team section end ============================== -->