<!-- ============================ Creative solution section start ============================ -->
<section class="creative-solution">
    <div class="tw-px-5">
        <div class="row gy-4">
            <div class="col-xl-3 col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="0">
                <div
                    class="creative-solution-item tw-rounded-xl bg-white tw-p-40-px d-flex flex-column justify-content-between tw-gap-10 h-100 hover-animation-white">
                    <div class="">
                        <span class="text-main-gradient fw-semibold tw-mb-5">Creative // Design</span>
                        <h4 class="splitText">Solutions That Empower in Business</h4>
                    </div>
                    <div class="">
                        <p class="text-neutral-500">Technology to fit your specific need as aensuring the best possible
                            outcomes.</p>
                        <a href="service-details.html"
                            class="d-flex align-items-center tw-gap-4 tw-text-lg text-main-gradient tw-mt-6">
                            <span class="border-bottom border-main-600">Learn More</span>
                            <span class="d-flex"><i class="ph-bold ph-arrow-up-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="hover-animation-white tw-rounded-xl overflow-hidden h-100">
                    <img src="assets/images/thumbs/creative-solution-img1.png" alt="Image"
                        class="tw-rounded-xl w-100 h-100 object-fit-cover hover-scale-108 tw-duration-300">
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                <div
                    class="creative-solution-item tw-rounded-xl bg-main-600 tw-p-40-px d-flex flex-column justify-content-between tw-gap-10 h-100 hover-animation-white">
                    <div class="">
                        <span class="text-heading fw-semibold tw-mb-5">Creative // Design</span>
                        <h4 class="splitText text-heading">Solutions That Empower in Business</h4>
                    </div>
                    <div class="">
                        <p class="text-neutral-500 text-heading">Technology to fit your specific need as aensuring the
                            best possible
                            outcomes.</p>
                        <a href="service-details.html"
                            class="d-flex align-items-center tw-gap-4 tw-text-lg text-heading tw-mt-6">
                            <span class="border-bottom border-neutral-600">Learn More</span>
                            <span class="d-flex"><i class="ph-bold ph-arrow-up-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div class="hover-animation-white tw-rounded-xl overflow-hidden h-100">
                    <img src="assets/images/thumbs/creative-solution-img2.png" alt="Image"
                        class="tw-rounded-xl w-100 h-100 object-fit-cover hover-scale-108 tw-duration-300">
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="0">
                <div class="hover-animation-white tw-rounded-xl overflow-hidden h-100">
                    <img src="assets/images/thumbs/creative-solution-img3.png" alt="Image"
                        class="tw-rounded-xl w-100 h-100 object-fit-cover hover-scale-108 tw-duration-300">
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div
                    class="creative-solution-item tw-rounded-xl bg-main-two-600 tw-p-40-px d-flex flex-column justify-content-between tw-gap-10 h-100 hover-animation-white">
                    <div class="">
                        <span class="text-white fw-semibold tw-mb-5">Creative // Design</span>
                        <h4 class="splitText text-white">Solutions That Empower in Business</h4>
                    </div>
                    <div class="">
                        <p class="text-neutral-500 text-white">Technology to fit your specific need as aensuring the
                            best possible
                            outcomes.</p>
                        <a href="service-details.html"
                            class="d-flex align-items-center tw-gap-4 tw-text-lg text-white tw-mt-6">
                            <span class="border-bottom border-white">Learn More</span>
                            <span class="d-flex"><i class="ph-bold ph-arrow-up-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                <div class="hover-animation-white tw-rounded-xl overflow-hidden h-100">
                    <img src="assets/images/thumbs/creative-solution-img4.png" alt="Image"
                        class="tw-rounded-xl w-100 h-100 object-fit-cover hover-scale-108 tw-duration-300">
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div
                    class="creative-solution-item tw-rounded-xl bg-white tw-p-40-px d-flex flex-column justify-content-between tw-gap-10 h-100 hover-animation-white">
                    <div class="">
                        <span class="text-main-gradient fw-semibold tw-mb-5">Creative // Design</span>
                        <h4 class="splitText">Solutions That Empower in Business</h4>
                    </div>
                    <div class="">
                        <p class="text-neutral-500">Technology to fit your specific need as aensuring the best possible
                            outcomes.</p>
                        <a href="service-details.html"
                            class="d-flex align-items-center tw-gap-4 tw-text-lg text-main-gradient tw-mt-6">
                            <span class="border-bottom border-main-600">Learn More</span>
                            <span class="d-flex"><i class="ph-bold ph-arrow-up-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ Creative solution section end ============================ -->