<!-- ========================== Creative team section start ============================== -->
<section class="creative-team py-120">
    <div class="container">
        <div class="">
            <div class="tw-mb-4">
                <h2 class="text-white splitText">Meet With Our Creative Team</h2>
            </div>

            <div class="scroll-in-mobile scroll-sm">
                <div class="team-item-wrapper min-w-max">
                    <div class="team-item d-flex align-items-center justify-content-between tw-gap-6 tw-py-13 border-bottom  border-white-26"
                        data-index-number="0">
                        <div class="d-flex align-items-end tw-gap-4">
                            <h2 class="text-white-30">Stiven Dowson</h2>
                            <span class="text-white tw-mb-2">/ Product Designer</span>
                        </div>
                        <div class="position-relative z-3 ">
                            <a href="team-details.html"
                                class="tw-px-9 tw-py-4 border border-white rounded-pill text-white fw-semibold hover-gradient-main overflow-hidden hover-border-main-600 active-scale-09">View
                                Profile</a>
                        </div>
                    </div>
                    <div class="team-item d-flex align-items-center justify-content-between tw-gap-6 tw-py-13 border-bottom  border-white-26"
                        data-index-number="0">
                        <div class="d-flex align-items-end tw-gap-4">
                            <h2 class="text-white-30">Anna Smith</h2>
                            <span class="text-white tw-mb-2">/ Product Designer</span>
                        </div>
                        <div class="position-relative z-3 ">
                            <a href="team-details.html"
                                class="tw-px-9 tw-py-4 border border-white rounded-pill text-white fw-semibold hover-gradient-main overflow-hidden hover-border-main-600 active-scale-09">View
                                Profile</a>
                        </div>
                    </div>
                    <div class="team-item d-flex align-items-center justify-content-between tw-gap-6 tw-py-13 border-bottom  border-white-26"
                        data-index-number="0">
                        <div class="d-flex align-items-end tw-gap-4">
                            <h2 class="text-white-30">Adam King</h2>
                            <span class="text-white tw-mb-2">/ Product Designer</span>
                        </div>
                        <div class="position-relative z-3 ">
                            <a href="team-details.html"
                                class="tw-px-9 tw-py-4 border border-white rounded-pill text-white fw-semibold hover-gradient-main overflow-hidden hover-border-main-600 active-scale-09">View
                                Profile</a>
                        </div>
                    </div>
                    <div class="team-item d-flex align-items-center justify-content-between tw-gap-6 tw-py-13 border-bottom  border-white-26"
                        data-index-number="0">
                        <div class="d-flex align-items-end tw-gap-4">
                            <h2 class="text-white-30">Matey Black</h2>
                            <span class="text-white tw-mb-2">/ Product Designer</span>
                        </div>
                        <div class="position-relative z-3 ">
                            <a href="team-details.html"
                                class="tw-px-9 tw-py-4 border border-white rounded-pill text-white fw-semibold hover-gradient-main overflow-hidden hover-border-main-600 active-scale-09">View
                                Profile</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



<div class="py-120">
    <div class="team-item-image-wrapper">
        <div class="team-item-image">
            <div>
                <img src="https://i.pinimg.com/564x/8f/5d/eb/8f5debb1d71acd4b14816419fc66af7f.jpg" alt="Thumbnail">
            </div>
            <div>
                <img src="https://i.pinimg.com/564x/3f/e4/73/3fe473b190b35ac620a65243c0905d79.jpg" alt="Thumbnail">
            </div>
            <div>
                <img src="https://i.pinimg.com/564x/05/04/79/050479871d3f11dd4bfb9da62e23de21.jpg" alt="Thumbnail">
            </div>
        </div>
    </div>
</div>
<!-- ========================== Creative team section end ============================== -->