<!-- ======================== CTA section start ===================== -->
<div class="cta gradient-bg-main position-relative">

    <div class="container">
        <div class="position-relative py-120">
            <img src="assets/images/shapes/arrow-stroke-white.png" alt="Arrow Shape"
                class="position-absolute top-0 tw-end-0 tw-me-8 tw-mt-8 rotate-on-scroll d-lg-block d-none">

            <div class="max-w-880-px">
                <h2 class="text-white splitText">Let's Work Together! and Just Drop Us a Line - <a
                        href="mailto:info@techito.com"
                        class="text-decoration-underline text-white hover-underline hover-text-heading">info@techito.com</a>
                </h2>
            </div>
            <div class="tw-mt-6 d-flex align-items-end justify-content-between flex-wrap tw-gap-4">
                <div class="tw-pb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="50">
                    <a href="contact.html" target="_blank"
                        class="btn btn-black hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center group active--translate-y-2 tw-py-505 tw-px-105 rounded-pill"
                        data-block="button">
                        <span class="button__flair"></span>
                        <span class="button__label tw-pe-6 tw-ps-9">Get Started Now</span>
                        <span
                            class="button-icon__right tw-w-12 tw-h-12 bg-white text-heading tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                            <img src="assets/images/icons/arrow-right-black.png" alt="Icon">
                        </span>
                    </a>
                </div>
                <div class="d-flex align-items-center tw-gap-74-px">
                    <a href="https://www.facebook.com"
                        class="h6 font-body text-white fw-semibold hover-underline hover--translate-y-1 hover-text-heading tw-duration-300"
                        data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Facebook</a>
                    <a href="https://www.twitter.com"
                        class="h6 font-body text-white fw-semibold hover-underline hover--translate-y-1 hover-text-heading tw-duration-300"
                        data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">Twitter</a>
                    <a href="https://www.instagram.com"
                        class="h6 font-body text-white fw-semibold hover-underline hover--translate-y-1 hover-text-heading tw-duration-300"
                        data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">Instagram</a>
                    <a href="https://www.dribble.com"
                        class="h6 font-body text-white fw-semibold hover-underline hover--translate-y-1 hover-text-heading tw-duration-300"
                        data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">Dribble</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======================== CTA section end ===================== -->