<!-- ============================== Feature Section Start ========================= -->
<section class="feature py-120">
    <div class="container">
        <div class="row gy-4">
            <div class="col-xl-3 col-sm-6 item-slide-left">
                <div class="feature-item d-flex align-items-center tw-gap-6 animation-item">
                    <div class="">
                        <span
                            class="feature-item__icon d-flex justify-content-center align-items-center rounded-circle position-relative">
                            <img src="assets/images/icons/feature-icon1.png" alt="Icon" class="animate__wobble">
                        </span>
                    </div>
                    <div class="">
                        <h5 class="text-white">Rapid Deployment</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 item-slide-up">
                <div class="feature-item d-flex align-items-center tw-gap-6 animation-item">
                    <div class="">
                        <span
                            class="feature-item__icon d-flex justify-content-center align-items-center rounded-circle position-relative">
                            <img src="assets/images/icons/feature-icon2.png" alt="Icon" class="animate__wobble">
                        </span>
                    </div>
                    <div class="">
                        <h5 class="text-white">User-Centric Design</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 item-slide-up">
                <div class="feature-item d-flex align-items-center tw-gap-6 animation-item">
                    <div class="">
                        <span
                            class="feature-item__icon d-flex justify-content-center align-items-center rounded-circle position-relative">
                            <img src="assets/images/icons/feature-icon3.png" alt="Icon" class="animate__wobble">
                        </span>
                    </div>
                    <div class="">
                        <h5 class="text-white">Secure <br> Platform</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 item-slide-right">
                <div class="feature-item d-flex align-items-center tw-gap-6 animation-item">
                    <div class="">
                        <span
                            class="feature-item__icon d-flex justify-content-center align-items-center rounded-circle position-relative">
                            <img src="assets/images/icons/feature-icon4.png" alt="Icon" class="animate__wobble">
                        </span>
                    </div>
                    <div class="">
                        <h5 class="text-white">Cloud <br> Ready</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================== Feature Section End ========================= -->