<!-- ========================== Footer Two section start =========================== -->
<footer class="section-bg-two footer-two position-relative z-1 overflow-hidden">
    <div class="position-absolute bottom-0 tw-start-0 tw-mb-12 max-w-20-percent z-n1 footer-two-shape-one">
        <img src="assets/images/shapes/what-we-do-shape1.png" alt="Shape" class="animated-upDown">
    </div>
    <div class="position-absolute top-50 translate-middle-y tw-end-0 tw-mt-9 max-w-20-percent z-n1">
        <img src="assets/images/shapes/footer-shape-two.png" alt="Shape" class="animated-upDown">
    </div>


    <div class="py-120 position-relative z-1">
        <div class="container">
            <div class="row gy-5">
                <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                    <div class="footer-two-item">
                        <a href="index.html" class="">
                            <img src="assets/images/logo/logo.png" alt="Logo">
                        </a>
                        <p class="fw-medium text-heading tw-mt-6 tw-text-lg">Get valuable strategy, culture and
                            brand
                            insights
                            straight to your inbox</p>
                        <form action="#" class="tw-mt-10 position-relative form-submit">
                            <input type="email"
                                class="tw-pb-4 border-0 bg-transparent shadow-none focus-outline-0 border-bottom border-neutral-500 w-100 bg-white focus-border-main-600 tw-pe-10"
                                placeholder="Your email here" required>
                            <button type="submit"
                                class="text-main-600 tw-text-2xl tw-leading-none d-flex position-absolute top-0 tw-end-0">
                                <i class="ph-bold ph-arrow-right"></i>
                            </button>
                        </form>
                        <p class="text-neutral-600 fw-medium tw fw-medium tw-mt-8">By signing up to receive emails from
                            Frisk, you
                            agree to
                            our Privacy Policy. We treat your info responsibly.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="d-flex justify-content-sm-center">
                        <div class="">
                            <h4 class="cursor-big fw-semibold text-heading tw-mb-8">About Us</h4>
                            <ul class="d-flex flex-column tw-gap-4">
                                <li>
                                    <a href="about.html"
                                        class="text-neutral-600 hover-text-heading fw-medium hover-underline">Our
                                        Story</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"
                                        class="text-neutral-600 hover-text-heading fw-medium hover-underline">Your
                                        Benefits</a>
                                </li>
                                <li>
                                    <a href="contact.html"
                                        class="text-neutral-600 hover-text-heading fw-medium hover-underline">Contact
                                        Us</a>
                                </li>
                                <li>
                                    <a href="team.html"
                                        class="text-neutral-600 hover-text-heading fw-medium hover-underline">Our
                                        Team</a>
                                </li>
                                <li class="mb-0">
                                    <a href="javascript:void(0)"
                                        class="text-neutral-600 hover-text-heading fw-medium hover-underline">Careers</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                    <div class="footer-two-item">
                        <div class="d-flex flex-column tw-gap-11">
                            <div class="d-flex align-items-start tw-gap-5 animation-item">
                                <span class="">
                                    <img src="assets/images/icons/headphone.png" alt="Headphone Icon"
                                        class="animate__swing">
                                </span>
                                <div class="">
                                    <h5 class="text-heading tw-mb-4">Contact us:</h5>
                                    <div class="d-flex flex-column tw-gap-2">
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <span class="text-heading fw-bold d-sm-block d-none">Call Consulting:
                                            </span>
                                            <span class="text-neutral-500-80 fw-medium">+483 9399 939 00</span>
                                        </div>
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <span class="text-heading fw-bold d-sm-block d-none">Send Email: </span>
                                            <span class="text-neutral-500-80 fw-medium">hellotechito@gmail.com0</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-start tw-gap-5 animation-item">
                                <span class="">
                                    <img src="assets/images/icons/location.png" alt="Location Icon"
                                        class="animate__swing">
                                </span>
                                <div class="">
                                    <h5 class="text-heading tw-mb-4">Our Location:</h5>
                                    <p class="text-neutral-500 tw-text-lg">2220 Plymouth Rd #302, Hopkins, New York
                                        Minnesota(MN),
                                        55305</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- bottom Footer -->
    <div class="bg-white tw-py-8 tw-mx-5 tw-mb-5 rounded-md-pill tw-px-4">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between tw-gap-6 flex-wrap">
                <p class="text-neutral-500 text-line-1 fw-normal">
                    &copy; All copyright 2025 by
                    <a href="https://themeforest.net/user/wowtheme7"
                        class="fw-semibold text-heading hover-underline hover-text-heading">wowtheme7.com</a>
                </p>
                <div class="d-flex align-items-center tw-gap-5">
                    <a href="https://www.facebook.com"
                        class="tw-w-11 tw-h-11 rounded-circle bg-neutral-200 text-heading d-flex justify-content-center align-items-center tw-text-2xl hover-gradient-main hover-text-white tw-duration-500">
                        <i class="ph-fill ph-facebook-logo"></i>
                    </a>
                    <a href="https://www.twitter.com"
                        class="tw-w-11 tw-h-11 rounded-circle bg-neutral-200 text-heading d-flex justify-content-center align-items-center tw-text-2xl hover-gradient-main hover-text-white tw-duration-500">
                        <i class="ph-fill ph-twitter-logo"></i>
                    </a>
                    <a href="https://www.linkedin.com"
                        class="tw-w-11 tw-h-11 rounded-circle bg-neutral-200 text-heading d-flex justify-content-center align-items-center tw-text-2xl hover-gradient-main hover-text-white tw-duration-500">
                        <i class="ph-bold ph-linkedin-logo"></i>
                    </a>
                    <a href="https://www.youtube.com"
                        class="tw-w-11 tw-h-11 rounded-circle bg-neutral-200 text-heading d-flex justify-content-center align-items-center tw-text-2xl hover-gradient-main hover-text-white tw-duration-500">
                        <i class="ph-fill ph-youtube-logo"></i>
                    </a>
                </div>
                <div class="d-flex align-items-center tw-gap-4 flex-wrap">
                    <a href="javascript:void(0)"
                        class="fw-medium text-neutral-500 hover-text-heading hover-underline">Terms &
                        Conditions</a>
                    <a href="javascript:void(0)" class="fw-medium text-neutral-500 hover-text-heading hover-underline">
                        Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ========================== Footer Two section end =========================== -->