<!-- ============================= Gallery Section start ================================ -->
<section class="gallery py-120">
    <div class="text-center tw-mb-11">
        <h5 class="text-white">Instagram Gallery of <span
                class="text-decoration-underline text-main-600">@Techito</span>
        </h5>
    </div>


    <div class="grid-cols-5">
        <div class="gallery-item position-relative group group-item">
            <img src="assets/images/thumbs/gallery-img1.png" alt="" class="w-100 h-100 object-fit-cover">
            <a href="assets/images/thumbs/gallery-img1.png"
                class="gallery-popup position-absolute w-100 h-100 bg-black-65 d-flex justify-content-center align-items-center top-0 tw-start-0 text-80-px text-white tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300">
                <i class="ph-bold ph-arrows-out-simple"></i>
            </a>
        </div>
        <div class="gallery-item position-relative group group-item">
            <img src="assets/images/thumbs/gallery-img2.png" alt="" class="w-100 h-100 object-fit-cover">
            <a href="assets/images/thumbs/gallery-img2.png"
                class="gallery-popup position-absolute w-100 h-100 bg-black-65 d-flex justify-content-center align-items-center top-0 tw-start-0 text-80-px text-white tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300">
                <i class="ph-bold ph-arrows-out-simple"></i>
            </a>
        </div>
        <div class="gallery-item position-relative group group-item">
            <img src="assets/images/thumbs/gallery-img3.png" alt="" class="w-100 h-100 object-fit-cover">
            <a href="assets/images/thumbs/gallery-img3.png"
                class="gallery-popup position-absolute w-100 h-100 bg-black-65 d-flex justify-content-center align-items-center top-0 tw-start-0 text-80-px text-white tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300">
                <i class="ph-bold ph-arrows-out-simple"></i>
            </a>
        </div>
        <div class="gallery-item position-relative group group-item">
            <img src="assets/images/thumbs/gallery-img4.png" alt="" class="w-100 h-100 object-fit-cover">
            <a href="assets/images/thumbs/gallery-img4.png"
                class="gallery-popup position-absolute w-100 h-100 bg-black-65 d-flex justify-content-center align-items-center top-0 tw-start-0 text-80-px text-white tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300">
                <i class="ph-bold ph-arrows-out-simple"></i>
            </a>
        </div>
        <div class="gallery-item position-relative group group-item">
            <img src="assets/images/thumbs/gallery-img5.png" alt="" class="w-100 h-100 object-fit-cover">
            <a href="assets/images/thumbs/gallery-img5.png"
                class="gallery-popup position-absolute w-100 h-100 bg-black-65 d-flex justify-content-center align-items-center top-0 tw-start-0 text-80-px text-white tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-300">
                <i class="ph-bold ph-arrows-out-simple"></i>
            </a>
        </div>
    </div>


</section>
<!-- ============================= Gallery Section end ================================ -->