<!-- ==================== Header Start Here ==================== -->
<header class="header header-one position-absolute top-0 w-100 tw-start-0 tw-end-0 tw-transition-all tw-z-99">
  <div class="container max-w-1740-px">
    <nav class="d-flex align-items-center justify-content-between position-relative">
      <!-- Logo Start -->
      <div class="logo">
        <a href="index.html" class="link">
          <img src="assets/images/logo/logo-white.png" alt="Logo" class="max-w-200-px">
        </a>
      </div>
      <!-- Logo End  -->

      <!-- Menu Start  -->
      <div class="header-menu d-lg-block d-none ms-auto">
        @@include('../partials/_nav-menu.html', { "class" : "tw-gap-6 menu-text-white" })
      </div>
      <!-- Menu End  -->

      <!-- Header Right start -->
      <div class="d-lg-block d-none tw-ms-10">
        <div class="d-flex align-items-center tw-gap-4 flex-shrink-0">
          <a href="cart.html" class="position-relative tw-me-2 active-scale-09 tw-duration-100">
            <img src="assets/images/icons/bag-icon.png" alt="Icon">
            <span
              class="tw-w-5 tw-h-5 gradient-bg-main text-white rounded-circle d-flex justify-content-center align-items-center tw-text-sm position-absolute bottom-0 tw-end-0 translate-8-px tw-leading-none">0</span>
          </a>
          <button type="button" class="active-scale-09 tw-duration-100 search-popup__button">
            <img src="assets/images/icons/search-icon.png" alt="Icon">
          </button>
          <button type="button" class="active-scale-09 tw-duration-100 sidebar-bar-btn">
            <img src="assets/images/icons/bar-icon.png" alt="Icon">
          </button>
        </div>
      </div>
      <button type="button" class="toggle-mobileMenu leading-none d-lg-none ms-3 text-white tw-text-9">
        <i class="ph ph-list"></i>
      </button>
      <!-- Header Right End  -->
    </nav>
  </div>
</header>
<!-- ==================== Header End Here ==================== -->