<!-- ======================== Marquee section start =========================== -->
<div class="marquee overflow-hidden position-relative w-100" data-aos="fade-up" data-aos-duration="800"
    data-aos-delay="100">
    <div class="marquee_left d-flex align-items-center tw-gap-16 overflow-hidden">
        <h2 class="scrollingTextRightToLeft h1 text-neutral-500 text-uppercase hover-text-white">
            Innovative
        </h2>
        <h2 class="scrollingTextRightToLeft h1 text-neutral-500 text-uppercase hover-text-white">
            .
        </h2>
        <h2 class="scrollingTextRightToLeft h1 text-neutral-500 text-uppercase hover-text-white">
            it company
        </h2>
        <h2 class="scrollingTextRightToLeft h1 text-neutral-500 text-uppercase hover-text-white">
            .
        </h2>
        <h2 class="scrollingTextRightToLeft h1 text-neutral-500 text-uppercase hover-text-white">
            digital , software
        </h2>
    </div>
</div>
<!-- ======================== Marquee section end =========================== -->