<!-- ============================ Pricing Plan Two section start ============================= -->
<section class="pricing-plan-two py-120 position-relative overflow-hidden">
    <div class="position-absolute tw-end-0 bottom-0 d-lg-block d-none" data-aos="fade-left" data-aos-duration="800"
        data-aos-delay="100">
        <img src="assets/images/shapes/pricing-shape.png" alt="Shape" class="animated-upDown">
    </div>

    <div class="container">
        <div class="section-heading tw-mb-15 max-w-690-px mx-auto text-center" data-aos="fade-up"
            data-aos-duration="800" data-aos-delay="100">
            <h2 class="splitText">Tech Affordable Pricing Packages</h2>
            <p class="text-neutral-500 tw-mt-9 tw-text-lg">Self-serve analytics to help you understand customer
                behaviour and grow
                your business. With over 4,000 startups trusting us, you'll be in safe hands.</p>
        </div>

        <div class="row gy-4">
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div
                    class="pricing-plan-two-item hover-gradient-main tw-py-54-px tw-px-48-px tw-rounded-xl section-bg text-center group group-item animation-item">
                    <div class=" position-relative">
                        <span
                            class="text-heading fw-semibold text-22-px position-absolute tw-duration-500 group-hover-text-white writing-mode-sideway-lr">
                            Basic Plan
                        </span>

                        <span class="">
                            <img src="assets/images/icons/pricing-icon1.png" alt="Icon"
                                class="tw-duration-500 group-hover-item-text-invert-white animate__heartBeat">
                        </span>
                        <h2 class="text-66-px tw-duration-500 group-hover-text-white tw-mt-10">$575<span
                                class="h5 tw-duration-500 group-hover-text-white">.99</span>
                        </h2>
                        <div class="tw-mt-4 d-flex flex-column tw-gap-4">
                            <span
                                class="text-neutral-500 tw-text-lg tw-duration-500 group-hover-text-white">Installation</span>
                            <span class="text-neutral-500 tw-text-lg tw-duration-500 group-hover-text-white">Repair
                                & Replacement</span>
                            <span class="text-neutral-500 tw-text-lg tw-duration-500 group-hover-text-white">Outstanding
                                Support</span>
                            <span class="text-neutral-500 tw-text-lg tw-duration-500 group-hover-text-white">Web &
                                Mobile</span>
                            <span class="text-neutral-500 tw-text-lg tw-duration-500 group-hover-text-white">Best
                                Hosting Ever</span>
                        </div>
                        <div class="tw-mt-10">
                            <a href="service.html"
                                class="btn btn-main hover-style-one group-hover-btn-white button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center group active--translate-y-2 tw-py-105 tw-px-105 rounded-pill hover-move-effect tw-duration-500 fw-semibold hover-text-white"
                                data-block="button">
                                <span class="button__flair"></span>
                                <span
                                    class="button-icon__left tw-w-12 tw-h-12 bg-white text-heading tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                                <span class="button__label tw-pe-6 tw-ps-9">Start This Plan</span>
                                <span
                                    class="button-icon__right tw-w-12 tw-h-12 bg-white text-heading tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                <div
                    class="pricing-plan-two-item hover-gradient-main tw-py-54-px tw-px-48-px tw-rounded-xl section-bg text-center group group-item animation-item">
                    <div class=" position-relative">
                        <span
                            class="text-heading fw-semibold text-22-px position-absolute tw-duration-500 group-hover-text-white writing-mode-sideway-lr">
                            Advanced Plan
                        </span>

                        <span class="">
                            <img src="assets/images/icons/pricing-icon2.png" alt="Icon"
                                class="tw-duration-500 group-hover-item-text-invert-white animate__heartBeat">
                        </span>
                        <h2 class="text-66-px tw-duration-500 group-hover-text-white tw-mt-10">$775<span
                                class="h5 tw-duration-500 group-hover-text-white">.99</span>
                        </h2>
                        <div class="tw-mt-4 d-flex flex-column tw-gap-4">
                            <span
                                class="text-neutral-500 tw-text-lg tw-duration-500 group-hover-text-white">Installation</span>
                            <span class="text-neutral-500 tw-text-lg tw-duration-500 group-hover-text-white">Repair
                                & Replacement</span>
                            <span class="text-neutral-500 tw-text-lg tw-duration-500 group-hover-text-white">Outstanding
                                Support</span>
                            <span class="text-neutral-500 tw-text-lg tw-duration-500 group-hover-text-white">Web &
                                Mobile</span>
                            <span class="text-neutral-500 tw-text-lg tw-duration-500 group-hover-text-white">Best
                                Hosting Ever</span>
                        </div>
                        <div class="tw-mt-10">
                            <a href="service.html"
                                class="btn btn-main hover-style-one group-hover-btn-white button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center group active--translate-y-2 tw-py-105 tw-px-105 rounded-pill hover-move-effect tw-duration-500 fw-semibold hover-text-white"
                                data-block="button">
                                <span class="button__flair"></span>
                                <span
                                    class="button-icon__left tw-w-12 tw-h-12 bg-white text-heading tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                                <span class="button__label tw-pe-6 tw-ps-9">Start This Plan</span>
                                <span
                                    class="button-icon__right tw-w-12 tw-h-12 bg-white text-heading tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div
                    class="pricing-plan-two-item hover-gradient-main tw-py-54-px tw-px-48-px tw-rounded-xl section-bg text-center group group-item animation-item">
                    <div class=" position-relative">
                        <span
                            class="text-heading fw-semibold text-22-px position-absolute tw-duration-500 group-hover-text-white writing-mode-sideway-lr">
                            Premium Plan
                        </span>
                        <span
                            class="text-main-600 tw-text-lg fw-semibold tw-duration-500 group-hover-text-white position-absolute tw-end-0 top-0">Save
                            45%</span>

                        <span class="">
                            <img src="assets/images/icons/pricing-icon3.png" alt="Icon"
                                class="tw-duration-500 group-hover-item-text-invert-white animate__heartBeat">
                        </span>
                        <h2 class="text-66-px tw-duration-500 group-hover-text-white tw-mt-10">$975<span
                                class="h5 tw-duration-500 group-hover-text-white">.99</span>
                        </h2>
                        <div class="tw-mt-4 d-flex flex-column tw-gap-4">
                            <span
                                class="text-neutral-500 tw-text-lg tw-duration-500 group-hover-text-white">Installation</span>
                            <span class="text-neutral-500 tw-text-lg tw-duration-500 group-hover-text-white">Repair
                                & Replacement</span>
                            <span class="text-neutral-500 tw-text-lg tw-duration-500 group-hover-text-white">Outstanding
                                Support</span>
                            <span class="text-neutral-500 tw-text-lg tw-duration-500 group-hover-text-white">Web &
                                Mobile</span>
                            <span class="text-neutral-500 tw-text-lg tw-duration-500 group-hover-text-white">Best
                                Hosting Ever</span>
                        </div>
                        <div class="tw-mt-10">
                            <a href="service.html"
                                class="btn btn-main hover-style-one group-hover-btn-white button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center group active--translate-y-2 tw-py-105 tw-px-105 rounded-pill hover-move-effect tw-duration-500 fw-semibold hover-text-white"
                                data-block="button">
                                <span class="button__flair"></span>
                                <span
                                    class="button-icon__left tw-w-12 tw-h-12 bg-white text-heading tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                                <span class="button__label tw-pe-6 tw-ps-9">Start This Plan</span>
                                <span
                                    class="button-icon__right tw-w-12 tw-h-12 bg-white text-heading tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ Pricing Plan Two section end ============================= -->