<!-- ======================== Project Two section start ================================ -->
<section class="project-two py-120">
    <div class="container">
        <div class="d-flex flex-lg-row flex-column tw-gap-74-px">
            <div class="">
                <div class="d-flex flex-column tw-gap-74-px">
                    <div class="project-two-item group group-item pe-xl-5">
                        <a href="project-details.html" class="overflow-hidden tw-rounded-lg w-100">
                            <img src="assets/images/thumbs/project-img1.png" alt="Thumbnail"
                                class="w-100 h-100 object-fit-cover tw-rounded-lg tw-duration-500 group-hover-item-scale-12">
                        </a>
                        <div class="tw-mt-6">
                            <div class="d-flex align-items-center tw-gap-4">
                                <span class="text-neutral-500">Branding</span>
                                <span class="text-neutral-500">/</span>
                                <span class="text-neutral-500">Marketing</span>
                                <span class="text-neutral-500">/</span>
                                <span class="text-neutral-500">Website</span>
                            </div>
                            <h3 class="tw-mt-4">
                                <a href="project-details.html" class="hover-text-main-600 line-clamp-2">Boosting Online
                                    Sales Through
                                    UX
                                    Design</a>
                            </h3>
                            <div class="tw-mt-9 element-double-animation">
                                <a href="project-details.html"
                                    class="text-main-600 fw-semibold border-bottom border-main-600 hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item">
                                    <span class="element-double-animation__element hover-element-main-two-600"
                                        data-content="Explore Details">Explore Details</span>

                                    <span class="group-hover-item-rotate-45-deg tw-duration-300">
                                        <i class="ph-bold ph-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="project-two-item group group-item">
                        <a href="project-details.html" class="overflow-hidden tw-rounded-lg w-100">
                            <img src="assets/images/thumbs/project-img2.png" alt="Thumbnail"
                                class="w-100 h-100 object-fit-cover tw-rounded-lg tw-duration-500 group-hover-item-scale-12">
                        </a>
                        <div class="tw-mt-6">
                            <div class="d-flex align-items-center tw-gap-4">
                                <span class="text-neutral-500">Branding</span>
                                <span class="text-neutral-500">/</span>
                                <span class="text-neutral-500">Marketing</span>
                                <span class="text-neutral-500">/</span>
                                <span class="text-neutral-500">Website</span>
                            </div>
                            <h3 class="tw-mt-4">
                                <a href="project-details.html" class="hover-text-main-600 line-clamp-2">Crafting a Bold
                                    Visual
                                    Identity Strategy</a>
                            </h3>
                            <div class="tw-mt-9 element-double-animation">
                                <a href="project-details.html"
                                    class="text-main-600 fw-semibold border-bottom border-main-600 hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item">
                                    <span class="element-double-animation__element hover-element-main-two-600"
                                        data-content="Explore Details">Explore Details</span>

                                    <span class="group-hover-item-rotate-45-deg tw-duration-300">
                                        <i class="ph-bold ph-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="d-flex flex-column tw-gap-74-px">
                    <div class="project-two-item group group-item">
                        <a href="project-details.html" class="overflow-hidden tw-rounded-lg w-100">
                            <img src="assets/images/thumbs/project-img3.png" alt="Thumbnail"
                                class="w-100 h-100 object-fit-cover tw-rounded-lg tw-duration-500 group-hover-item-scale-12">
                        </a>
                        <div class="tw-mt-6">
                            <div class="d-flex align-items-center tw-gap-4">
                                <span class="text-neutral-500">Branding</span>
                                <span class="text-neutral-500">/</span>
                                <span class="text-neutral-500">Marketing</span>
                                <span class="text-neutral-500">/</span>
                                <span class="text-neutral-500">Website</span>
                            </div>
                            <h3 class="tw-mt-4">
                                <a href="project-details.html" class="hover-text-main-600 line-clamp-2">Revamping Brand
                                    Identity for
                                    Tech Startup</a>
                            </h3>
                            <div class="tw-mt-9 element-double-animation">
                                <a href="project-details.html"
                                    class="text-main-600 fw-semibold border-bottom border-main-600 hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item">
                                    <span class="element-double-animation__element hover-element-main-two-600"
                                        data-content="Explore Details">Explore Details</span>

                                    <span class="group-hover-item-rotate-45-deg tw-duration-300">
                                        <i class="ph-bold ph-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="project-two-item group group-item ps-xl-5">
                        <a href="project-details.html" class="overflow-hidden tw-rounded-lg w-100">
                            <img src="assets/images/thumbs/project-img4.png" alt="Thumbnail"
                                class="w-100 h-100 object-fit-cover tw-rounded-lg tw-duration-500 group-hover-item-scale-12">
                        </a>
                        <div class="tw-mt-6">
                            <div class="d-flex align-items-center tw-gap-4">
                                <span class="text-neutral-500">Branding</span>
                                <span class="text-neutral-500">/</span>
                                <span class="text-neutral-500">Marketing</span>
                                <span class="text-neutral-500">/</span>
                                <span class="text-neutral-500">Website</span>
                            </div>
                            <h3 class="tw-mt-4">
                                <a href="project-details.html" class="hover-text-main-600 line-clamp-2">Shopify Redesign
                                    for a Nova
                                    Scotia Winery</a>
                            </h3>
                            <div class="tw-mt-9 element-double-animation">
                                <a href="project-details.html"
                                    class="text-main-600 fw-semibold border-bottom border-main-600 hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item">
                                    <span class="element-double-animation__element hover-element-main-two-600"
                                        data-content="Explore Details">Explore Details</span>

                                    <span class="group-hover-item-rotate-45-deg tw-duration-300">
                                        <i class="ph-bold ph-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================== Project Two section End ================================ -->