<!-- ======================== Project Two section start ================================ -->
<section class="project-two py-120">
    <div class="position-relative z-1">
        <div class="marquee overflow-hidden w-100 marquee-absolute" data-aos="fade-up" data-aos-duration="800"
            data-aos-delay="100">
            <div class="marquee_left d-flex align-items-center tw-gap-16 overflow-hidden">
                <h2
                    class="scrollingTextRightToLeft text-98-px text-neutral-200 text-uppercase hover-text-heading tw-duration-300">
                    Innovative
                </h2>
                <h2
                    class="scrollingTextRightToLeft text-98-px text-neutral-200 text-uppercase hover-text-heading tw-duration-300">
                    .
                </h2>
                <h2
                    class="scrollingTextRightToLeft text-98-px text-neutral-200 text-uppercase hover-text-heading tw-duration-300">
                    it company
                </h2>
                <h2
                    class="scrollingTextRightToLeft text-98-px text-neutral-200 text-uppercase hover-text-heading tw-duration-300">
                    .
                </h2>
                <h2
                    class="scrollingTextRightToLeft text-98-px text-neutral-200 text-uppercase hover-text-heading tw-duration-300">
                    digital , software
                </h2>
            </div>
        </div>

        <div class="container">
            <div class="d-flex flex-md-row flex-column tw-gap-80-px">
                <div class="mt-216-px">
                    <div class="d-flex flex-column tw-gap-80-px">
                        <div class="project-two-item group group-item position-relative z-1 pe-xl-5" data-aos="fade-up"
                            data-aos-duration="800" data-aos-delay="100">
                            <a href="project-details.html" class="overflow-hidden tw-rounded-lg w-100">
                                <img src="assets/images/thumbs/project-img1.png" alt="Thumbnail"
                                    class="w-100 h-100 object-fit-cover tw-rounded-lg tw-duration-500 group-hover-item-scale-12">
                            </a>
                            <div class="tw-mt-6">
                                <div class="d-flex align-items-center tw-gap-4">
                                    <span class="text-neutral-500">Branding</span>
                                    <span class="text-neutral-500">/</span>
                                    <span class="text-neutral-500">Marketing</span>
                                    <span class="text-neutral-500">/</span>
                                    <span class="text-neutral-500">Website</span>
                                </div>
                                <h3 class="tw-mt-4">
                                    <a href="project-details.html" class="hover-text-main-600 line-clamp-2">Boosting
                                        Online
                                        Sales Through
                                        UX
                                        Design</a>
                                </h3>
                                <div class="tw-mt-9 element-double-animation">
                                    <a href="project-details.html"
                                        class="text-main-600 fw-semibold border-bottom border-main-600 hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item">
                                        <span class="element-double-animation__element hover-element-main-two-600"
                                            data-content="Explore Details">Explore Details</span>

                                        <span class="group-hover-item-rotate-45-deg tw-duration-300">
                                            <i class="ph-bold ph-arrow-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="project-two-item group group-item position-relative z-1" data-aos="fade-up"
                            data-aos-duration="800" data-aos-delay="100">
                            <a href="project-details.html" class="overflow-hidden tw-rounded-lg w-100">
                                <img src="assets/images/thumbs/project-img2.png" alt="Thumbnail"
                                    class="w-100 h-100 object-fit-cover tw-rounded-lg tw-duration-500 group-hover-item-scale-12">
                            </a>
                            <div class="tw-mt-6">
                                <div class="d-flex align-items-center tw-gap-4">
                                    <span class="text-neutral-500">Branding</span>
                                    <span class="text-neutral-500">/</span>
                                    <span class="text-neutral-500">Marketing</span>
                                    <span class="text-neutral-500">/</span>
                                    <span class="text-neutral-500">Website</span>
                                </div>
                                <h3 class="tw-mt-4">
                                    <a href="project-details.html" class="hover-text-main-600 line-clamp-2">Crafting a
                                        Bold
                                        Visual
                                        Identity Strategy</a>
                                </h3>
                                <div class="tw-mt-9 element-double-animation">
                                    <a href="project-details.html"
                                        class="text-main-600 fw-semibold border-bottom border-main-600 hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item">
                                        <span class="element-double-animation__element hover-element-main-two-600"
                                            data-content="Explore Details">Explore Details</span>

                                        <span class="group-hover-item-rotate-45-deg tw-duration-300">
                                            <i class="ph-bold ph-arrow-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="d-flex flex-column tw-gap-80-px">
                        <div class="project-two-item group group-item position-relative z-1" data-aos="fade-up"
                            data-aos-duration="800" data-aos-delay="100">
                            <a href="project-details.html" class="overflow-hidden tw-rounded-lg w-100">
                                <img src="assets/images/thumbs/project-img3.png" alt="Thumbnail"
                                    class="w-100 h-100 object-fit-cover tw-rounded-lg tw-duration-500 group-hover-item-scale-12">
                            </a>
                            <div class="tw-mt-6">
                                <div class="d-flex align-items-center tw-gap-4">
                                    <span class="text-neutral-500">Branding</span>
                                    <span class="text-neutral-500">/</span>
                                    <span class="text-neutral-500">Marketing</span>
                                    <span class="text-neutral-500">/</span>
                                    <span class="text-neutral-500">Website</span>
                                </div>
                                <h3 class="tw-mt-4">
                                    <a href="project-details.html" class="hover-text-main-600 line-clamp-2">Revamping
                                        Brand
                                        Identity for
                                        Tech Startup</a>
                                </h3>
                                <div class="tw-mt-9 element-double-animation">
                                    <a href="project-details.html"
                                        class="text-main-600 fw-semibold border-bottom border-main-600 hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item">
                                        <span class="element-double-animation__element hover-element-main-two-600"
                                            data-content="Explore Details">Explore Details</span>

                                        <span class="group-hover-item-rotate-45-deg tw-duration-300">
                                            <i class="ph-bold ph-arrow-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="project-two-item group group-item position-relative z-1 ps-xl-5" data-aos="fade-up"
                            data-aos-duration="800" data-aos-delay="100">
                            <a href="project-details.html" class="overflow-hidden tw-rounded-lg w-100">
                                <img src="assets/images/thumbs/project-img4.png" alt="Thumbnail"
                                    class="w-100 h-100 object-fit-cover tw-rounded-lg tw-duration-500 group-hover-item-scale-12">
                            </a>
                            <div class="tw-mt-6">
                                <div class="d-flex align-items-center tw-gap-4">
                                    <span class="text-neutral-500">Branding</span>
                                    <span class="text-neutral-500">/</span>
                                    <span class="text-neutral-500">Marketing</span>
                                    <span class="text-neutral-500">/</span>
                                    <span class="text-neutral-500">Website</span>
                                </div>
                                <h3 class="tw-mt-4">
                                    <a href="project-details.html" class="hover-text-main-600 line-clamp-2">Shopify
                                        Redesign
                                        for a Nova
                                        Scotia Winery</a>
                                </h3>
                                <div class="tw-mt-9 element-double-animation">
                                    <a href="project-details.html"
                                        class="text-main-600 fw-semibold border-bottom border-main-600 hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item">
                                        <span class="element-double-animation__element hover-element-main-two-600"
                                            data-content="Explore Details">Explore Details</span>

                                        <span class="group-hover-item-rotate-45-deg tw-duration-300">
                                            <i class="ph-bold ph-arrow-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center" data-aos="zoom-in" data-aos-duration="800"
                        data-aos-delay="100">
                        <div class="position-relative tw-mt-17 hover-parallax-wrapper d-inline-block">
                            <a href="appointment.html"
                                class="hover-parallax-item btn btn-black hover-style-one group group-item button--stroke d-flex flex-column align-items-center justify-content-center text-white tw-w-184-px tw-h-184-px rounded-circle p-0 text-center hover-text-white"
                                data-block="button">
                                <span class="button__flair"></span>
                                <span class="text-capitalize tw-text-base fw-semibold z-1 tw-leading-16">View All <br>
                                    Projects</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================== Project Two section End ================================ -->