<!-- ======================== Roadmap section start ============================== -->
<div class="roadmap py-120 overflow-hidden" id="roadmap-section">
    <div class="container">
        <div class="sm-grid-2 d-flex flex-lg-nowrap flex-wrap ">
            <div class="roadmap-item rounded-circle position-relative">
                <div
                    class="roadmap-item__thumb max-w-300-px tw-max-h-300-px w-100 h-100 rounded-circle border border-white border-4 position-relative">
                    <img src="assets/images/thumbs/roadmap-img1.png" alt="Image" class="w-100 h-100 object-fit-cover">
                    <div
                        class="roadmap-content gradient-bg-main rounded-circle text-center d-flex flex-column justify-content-center align-items-center position-absolute border border-white border-4 tw-px-6">
                        <span class="tw-mb-4">
                            <img src="assets/images/icons/roadmap-icon.png" alt="Icon">
                        </span>
                        <h6 class="text-white fw-medium text-18-px">Effortlessly integrate Techito your workflow</h6>
                    </div>
                </div>
            </div>
            <div class="roadmap-item rounded-circle position-relative">
                <div
                    class="roadmap-item__thumb max-w-300-px tw-max-h-300-px w-100 h-100 rounded-circle border border-white border-4 position-relative">
                    <img src="assets/images/thumbs/roadmap-img2.png" alt="Image" class="w-100 h-100 object-fit-cover">
                    <div
                        class="roadmap-content gradient-bg-main rounded-circle text-center d-flex flex-column justify-content-center align-items-center position-absolute border border-white border-4 tw-px-6">
                        <span class="tw-mb-4">
                            <img src="assets/images/icons/roadmap-icon.png" alt="Icon">
                        </span>
                        <h6 class="text-white fw-medium text-18-px">Effortlessly integrate Techito your workflow</h6>
                    </div>
                </div>
            </div>
            <div class="roadmap-item rounded-circle position-relative">
                <div
                    class="roadmap-item__thumb max-w-300-px tw-max-h-300-px w-100 h-100 rounded-circle border border-white border-4 position-relative">
                    <img src="assets/images/thumbs/roadmap-img3.png" alt="Image" class="w-100 h-100 object-fit-cover">
                    <div
                        class="roadmap-content gradient-bg-main rounded-circle text-center d-flex flex-column justify-content-center align-items-center position-absolute border border-white border-4 tw-px-6">
                        <span class="tw-mb-4">
                            <img src="assets/images/icons/roadmap-icon.png" alt="Icon">
                        </span>
                        <h6 class="text-white fw-medium text-18-px">Effortlessly integrate Techito your workflow</h6>
                    </div>
                </div>
            </div>
            <div class="roadmap-item rounded-circle position-relative">
                <div
                    class="roadmap-item__thumb max-w-300-px tw-max-h-300-px w-100 h-100 rounded-circle border border-white border-4 position-relative">
                    <img src="assets/images/thumbs/roadmap-img4.png" alt="Image" class="w-100 h-100 object-fit-cover">
                    <div
                        class="roadmap-content gradient-bg-main rounded-circle text-center d-flex flex-column justify-content-center align-items-center position-absolute border border-white border-4 tw-px-6">
                        <span class="tw-mb-4">
                            <img src="assets/images/icons/roadmap-icon.png" alt="Icon">
                        </span>
                        <h6 class="text-white fw-medium text-18-px">Effortlessly integrate Techito your workflow</h6>
                    </div>
                </div>
            </div>
            <div class="roadmap-item rounded-circle position-relative">
                <div
                    class="roadmap-item__thumb max-w-300-px tw-max-h-300-px w-100 h-100 rounded-circle border border-white border-4 position-relative">
                    <img src="assets/images/thumbs/roadmap-img5.png" alt="Image" class="w-100 h-100 object-fit-cover">
                    <div
                        class="roadmap-content gradient-bg-main rounded-circle text-center d-flex flex-column justify-content-center align-items-center position-absolute border border-white border-4 tw-px-6">
                        <span class="tw-mb-4">
                            <img src="assets/images/icons/roadmap-icon.png" alt="Icon">
                        </span>
                        <h6 class="text-white fw-medium text-18-px">Effortlessly integrate Techito your workflow</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======================== Roadmap section end ============================== -->