<!-- ======================= Service Section start =============================== -->
<div class="service py-120">
    <div class="tw-px-5">
        <div class="service-item-wrapper d-flex flex-wrap">

            <div
                class="service-item position-relative z-1 tw-p-40-px overflow-hidden group group-item animation-item cursor-pointer">
                <h2 class="service-item__number tw-duration-300"> 01</h2>
                <div class="service-item__bg background-img bg-img position-absolute top-0 tw-start-0 w-100 h-100 z-n1 tw-duration-300"
                    data-background-image="assets/images/thumbs/service-item-bg.png"></div>

                <div class="current-content d-flex flex-column justify-content-between h-100">
                    <span class="">
                        <img src="assets/images/icons/service-icon1.png" alt="Icon">
                    </span>
                    <div class="">
                        <h3 class="service-item__title text-white">App Prototyping</h3>
                    </div>
                </div>
                <div class="hidden-content h-100 d-flex flex-column justify-content-between tw-gap-6">
                    <span
                        class="service-item__icon d-flex justify-content-center align-items-center rounded-circle gradient-bg-main flex-shrink-0 animate-up-down tw-duration-300 animation-delay-01">
                        <img src="assets/images/icons/service-icon1.png" alt="Icon" class="animate__flipInY">
                    </span>
                    <div class="">
                        <h3 class="text-white animate-up-down tw-duration-300 animation-delay-02">App Prototyping</h3>
                        <p class="text-white tw-mt-5 animate-up-down tw-duration-300 animation-delay-03">We specialize
                            in delivering
                            innovative VOIP,
                            telecom, and cloud
                            solutions
                            designed to enhance the way businesses.</p>
                        <div class="tw-mt-10 animate-up-down tw-duration-300 animation-delay-04">
                            <a href="contact.html" target="_blank"
                                class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center group active--translate-y-2 tw-py-505 tw-px-105 rounded-pill"
                                data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label tw-pe-6 tw-ps-9">Explore Our Solutions</span>
                                <span
                                    class="button-icon__right tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                                    <img src="assets/images/icons/arrow-right-black.png" alt="Icon">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div
                class="service-item position-relative z-1 tw-p-40-px overflow-hidden group group-item animation-item cursor-pointer">
                <h2 class="service-item__number tw-duration-300"> 02</h2>
                <div class="service-item__bg background-img bg-img position-absolute top-0 tw-start-0 w-100 h-100 z-n1 tw-duration-300"
                    data-background-image="assets/images/thumbs/service-item-bg.png"></div>

                <div class="current-content d-flex flex-column justify-content-between h-100">
                    <span class="">
                        <img src="assets/images/icons/service-icon1.png" alt="Icon">
                    </span>
                    <div class="">
                        <h3 class="service-item__title text-white">Cloud Solutions</h3>
                    </div>
                </div>
                <div class="hidden-content h-100 d-flex flex-column justify-content-between tw-gap-6">
                    <span
                        class="service-item__icon d-flex justify-content-center align-items-center rounded-circle gradient-bg-main flex-shrink-0 animate-up-down tw-duration-300 animation-delay-01">
                        <img src="assets/images/icons/service-icon2.png" alt="Icon" class="animate__flipInY">
                    </span>
                    <div class="">
                        <h3 class="text-white animate-up-down tw-duration-300 animation-delay-02">Cloud Solutions</h3>
                        <p class="text-white tw-mt-5 animate-up-down tw-duration-300 animation-delay-03">We specialize
                            in delivering
                            innovative VOIP,
                            telecom, and cloud
                            solutions
                            designed to enhance the way businesses.</p>
                        <div class="tw-mt-10 animate-up-down tw-duration-300 animation-delay-04">
                            <a href="contact.html" target="_blank"
                                class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center group active--translate-y-2 tw-py-505 tw-px-105 rounded-pill"
                                data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label tw-pe-6 tw-ps-9">Explore Our Solutions</span>
                                <span
                                    class="button-icon__right tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                                    <img src="assets/images/icons/arrow-right-black.png" alt="Icon">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div
                class="service-item position-relative z-1 tw-p-40-px overflow-hidden group group-item animation-item cursor-pointer active">
                <h2 class="service-item__number tw-duration-300"> 03</h2>
                <div class="service-item__bg background-img bg-img position-absolute top-0 tw-start-0 w-100 h-100 z-n1 tw-duration-300"
                    data-background-image="assets/images/thumbs/service-item-bg.png"></div>

                <div class="current-content d-flex flex-column justify-content-between h-100">
                    <span class="">
                        <img src="assets/images/icons/service-icon3.png" alt="Icon">
                    </span>
                    <div class="">
                        <h3 class="service-item__title text-white">Startup Consulting</h3>
                    </div>
                </div>
                <div class="hidden-content h-100 d-flex flex-column justify-content-between tw-gap-6">
                    <span
                        class="service-item__icon d-flex justify-content-center align-items-center rounded-circle gradient-bg-main flex-shrink-0 animate-up-down tw-duration-300 animation-delay-01">
                        <img src="assets/images/icons/service-icon1.png" alt="Icon" class="animate__flipInY">
                    </span>
                    <div class="">
                        <h3 class="text-white animate-up-down tw-duration-300 animation-delay-02">Startup Consulting
                        </h3>
                        <p class="text-white tw-mt-5 animate-up-down tw-duration-300 animation-delay-03">We specialize
                            in delivering
                            innovative VOIP,
                            telecom, and cloud
                            solutions
                            designed to enhance the way businesses.</p>
                        <div class="tw-mt-10 animate-up-down tw-duration-300 animation-delay-04">
                            <a href="contact.html" target="_blank"
                                class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center group active--translate-y-2 tw-py-505 tw-px-105 rounded-pill"
                                data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label tw-pe-6 tw-ps-9">Explore Our Solutions</span>
                                <span
                                    class="button-icon__right tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                                    <img src="assets/images/icons/arrow-right-black.png" alt="Icon">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div
                class="service-item position-relative z-1 tw-p-40-px overflow-hidden group group-item animation-item cursor-pointer">
                <h2 class="service-item__number tw-duration-300"> 04</h2>
                <div class="service-item__bg background-img bg-img position-absolute top-0 tw-start-0 w-100 h-100 z-n1 tw-duration-300"
                    data-background-image="assets/images/thumbs/service-item-bg.png"></div>

                <div class="current-content d-flex flex-column justify-content-between h-100">
                    <span class="">
                        <img src="assets/images/icons/service-icon4.png" alt="Icon">
                    </span>
                    <div class="">
                        <h3 class="service-item__title text-white">Digital innovative</h3>
                    </div>
                </div>
                <div class="hidden-content h-100 d-flex flex-column justify-content-between tw-gap-6">
                    <span
                        class="service-item__icon d-flex justify-content-center align-items-center rounded-circle gradient-bg-main flex-shrink-0 animate-up-down tw-duration-300 animation-delay-01">
                        <img src="assets/images/icons/service-icon1.png" alt="Icon" class="animate__flipInY">
                    </span>
                    <div class="">
                        <h3 class="text-white animate-up-down tw-duration-300 animation-delay-02">Digital innovative
                        </h3>
                        <p class="text-white tw-mt-5 animate-up-down tw-duration-300 animation-delay-03">We specialize
                            in delivering
                            innovative VOIP,
                            telecom, and cloud
                            solutions
                            designed to enhance the way businesses.</p>
                        <div class="tw-mt-10 animate-up-down tw-duration-300 animation-delay-04">
                            <a href="contact.html" target="_blank"
                                class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center group active--translate-y-2 tw-py-505 tw-px-105 rounded-pill"
                                data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label tw-pe-6 tw-ps-9">Explore Our Solutions</span>
                                <span
                                    class="button-icon__right tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                                    <img src="assets/images/icons/arrow-right-black.png" alt="Icon">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div
                class="service-item position-relative z-1 tw-p-40-px overflow-hidden group group-item animation-item cursor-pointer">
                <h2 class="service-item__number tw-duration-300"> 05</h2>
                <div class="service-item__bg background-img bg-img position-absolute top-0 tw-start-0 w-100 h-100 z-n1 tw-duration-300"
                    data-background-image="assets/images/thumbs/service-item-bg.png"></div>

                <div class="current-content d-flex flex-column justify-content-between h-100">
                    <span class="">
                        <img src="assets/images/icons/service-icon5.png" alt="Icon">
                    </span>
                    <div class="">
                        <h3 class="service-item__title text-white">UI Design</h3>
                    </div>
                </div>
                <div class="hidden-content h-100 d-flex flex-column justify-content-between tw-gap-6">
                    <span
                        class="service-item__icon d-flex justify-content-center align-items-center rounded-circle gradient-bg-main flex-shrink-0 animate-up-down tw-duration-300 animation-delay-01">
                        <img src="assets/images/icons/service-icon1.png" alt="Icon" class="animate__flipInY">
                    </span>
                    <div class="">
                        <h3 class="text-white animate-up-down tw-duration-300 animation-delay-02">UI Design</h3>
                        <p class="text-white tw-mt-5 animate-up-down tw-duration-300 animation-delay-03">We specialize
                            in delivering
                            innovative VOIP,
                            telecom, and cloud
                            solutions
                            designed to enhance the way businesses.</p>
                        <div class="tw-mt-10 animate-up-down tw-duration-300 animation-delay-04">
                            <a href="contact.html" target="_blank"
                                class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center group active--translate-y-2 tw-py-505 tw-px-105 rounded-pill"
                                data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label tw-pe-6 tw-ps-9">Explore Our Solutions</span>
                                <span
                                    class="button-icon__right tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                                    <img src="assets/images/icons/arrow-right-black.png" alt="Icon">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- ======================= Service Section End =============================== -->