<!-- ======================== Team Two section start =========================== -->
<section class="team-two py-120 section-bg">
    <div class="container">
        <div class="section-heading tw-mb-15 max-w-690-px mx-auto text-center" data-aos="fade-up"
            data-aos-duration="800" data-aos-delay="100">
            <h2 class="splitText">The Creative Team Behind Your Success</h2>
        </div>

        <div class="row gy-4">
            <div class="col-xxl-3 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="team-two-item group group-item">
                    <div class="position-relative">
                        <a href="team-details.html"
                            class="hover-animation-white w-100 tw-rounded-xl position-relative d-flex">
                            <img src="assets/images/thumbs/team-two-img2.png" alt="Thumbnail"
                                class="w-100 h-100 object-fit-cover tw-rounded-xl group-hover-item-scale-12 tw-duration-500">
                        </a>
                        <div class=" position-absolute bottom-0 start-50 translate-middle-x w-100">
                            <div class="bg-white tw-py-5 tw-px-2 rounded-top-4 text-center tw-mx-3">
                                <h5 class="element-double-animation overflow-hidden">
                                    <a href="team-details.html"
                                        class="text-heading fw-semibold hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item">
                                        <span class="element-double-animation__element hover-element-main-two-600"
                                            data-content="Matthew joseph">Matthew joseph</span>
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="bg-black tw-py-4 tw-px-2 text-white tw-mx-3 rounded-bottom-4 text-center">
                        <span class="text-white">Digital Marketing Expert</span>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                <div class="team-two-item group group-item">
                    <div class="position-relative">
                        <a href="team-details.html"
                            class="hover-animation-white w-100 tw-rounded-xl position-relative d-flex">
                            <img src="assets/images/thumbs/team-two-img1.png" alt="Thumbnail"
                                class="w-100 h-100 object-fit-cover tw-rounded-xl group-hover-item-scale-12 tw-duration-500">
                        </a>
                        <div class=" position-absolute bottom-0 start-50 translate-middle-x w-100">
                            <div class="bg-white tw-py-5 tw-px-2 rounded-top-4 text-center tw-mx-3">
                                <h5 class="element-double-animation overflow-hidden">
                                    <a href="team-details.html"
                                        class="text-heading fw-semibold hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item">
                                        <span class="element-double-animation__element hover-element-main-two-600"
                                            data-content="Sophia Turner">Sophia Turner</span>
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="bg-black tw-py-4 tw-px-2 text-white tw-mx-3 rounded-bottom-4 text-center">
                        <span class="text-white">Link Building Manager</span>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div class="team-two-item group group-item">
                    <div class="position-relative">
                        <a href="team-details.html"
                            class="hover-animation-white w-100 tw-rounded-xl position-relative d-flex">
                            <img src="assets/images/thumbs/team-two-img3.png" alt="Thumbnail"
                                class="w-100 h-100 object-fit-cover tw-rounded-xl group-hover-item-scale-12 tw-duration-500">
                        </a>
                        <div class=" position-absolute bottom-0 start-50 translate-middle-x w-100">
                            <div class="bg-white tw-py-5 tw-px-2 rounded-top-4 text-center tw-mx-3">
                                <h5 class="element-double-animation overflow-hidden">
                                    <a href="team-details.html"
                                        class="text-heading fw-semibold hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item">
                                        <span class="element-double-animation__element hover-element-main-two-600"
                                            data-content="James Anderson">James Anderson</span>
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="bg-black tw-py-4 tw-px-2 text-white tw-mx-3 rounded-bottom-4 text-center">
                        <span class="text-white">Technical SEO Specialis</span>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                <div class="team-two-item group group-item">
                    <div class="position-relative">
                        <a href="team-details.html"
                            class="hover-animation-white w-100 tw-rounded-xl position-relative d-flex">
                            <img src="assets/images/thumbs/team-two-img4.png" alt="Thumbnail"
                                class="w-100 h-100 object-fit-cover tw-rounded-xl group-hover-item-scale-12 tw-duration-500">
                        </a>
                        <div class=" position-absolute bottom-0 start-50 translate-middle-x w-100">
                            <div class="bg-white tw-py-5 tw-px-2 rounded-top-4 text-center tw-mx-3">
                                <h5 class="element-double-animation overflow-hidden">
                                    <a href="team-details.html"
                                        class="text-heading fw-semibold hover-text-main-600 d-inline-flex align-items-center tw-gap-205 group-item">
                                        <span class="element-double-animation__element hover-element-main-two-600"
                                            data-content="Olivia Bennett">Olivia Bennett</span>
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="bg-black tw-py-4 tw-px-2 text-white tw-mx-3 rounded-bottom-4 text-center">
                        <span class="text-white">Senior SEO Strategist</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================== Team Two section end =========================== -->