<!-- ========================= Testimonials section start ================================= -->
<div class="pt-120 position-relative z-1">
    <div class="background-img bg-img position-absolute top-0 tw-start-0 w-100 h-100 z-n1"
        data-background-image="assets/images/bg/testimonials-bg.png"></div>

    <div class="container">
        <div class="row gy-4">
            <div class="col-xl-5" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">
                <div
                    class="tw-px-48-px tw-py-60-px bg-main-600 d-flex flex-column justify-content-between tw-gap-10 tw-rounded-xl h-100">
                    <h2 class="text-white splitText">340+ Customers win deals with Techito</h2>
                    <div class="">
                        <div class="">
                            <img src="assets/images/icons/google-rating.png" alt="Icon">
                        </div>
                        <div class="d-flex align-items-center tw-gap-705 flex-sm-nowrap flex-wrap tw-mt-5">
                            <div class="d-flex align-items-center pointer-events-auto">
                                <div
                                    class="pointer-events-auto tw-w-15 tw-h-15 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative z-0">
                                    <img src="assets/images/thumbs/client-img1.png" alt="Client Image"
                                        class="w-100 h-100 object-fit-cover">
                                </div>
                                <div
                                    class="pointer-events-auto tw-w-15 tw-h-15 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative tw--ms-20-px z-1">
                                    <img src="assets/images/thumbs/client-img2.png" alt="Client Image"
                                        class="w-100 h-100 object-fit-cover">
                                </div>
                                <div
                                    class="pointer-events-auto tw-w-15 tw-h-15 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative tw--ms-20-px z-1">
                                    <img src="assets/images/thumbs/client-img3.png" alt="Client Image"
                                        class="w-100 h-100 object-fit-cover">
                                </div>
                                <div
                                    class="pointer-events-auto tw-w-15 tw-h-15 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative tw--ms-20-px z-1 fw-semibold tw-text-xl d-flex justify-content-center align-items-center gradient-bg-main text-white">
                                    <span class="counter"> 25k+ </span>
                                </div>
                            </div>
                            <p class="fw-normal text-white max-w-250-px text-balance">
                                Worldwide Brand & Customers
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-7" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <div class="swiper testimonials-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="border border-white-26 bg-white-10 tw-py-60-px tw-px-44-px tw-rounded-xl">
                                <div class="">
                                    <h4 class="text-main-600 text-decoration-underline fw-semibold">“Amazing Software
                                        Services”</h4>
                                    <p class="text-36-px text-white fw-normal tw-mt-11 font-body">“A wonderful
                                        experience!
                                        They knew
                                        what they were doing & were incredibly knowledgeable throughout the process.”
                                    </p>
                                    <div class="tw-mt-15 d-flex align-items-end justify-content-between tw-gap-4">
                                        <div class="flex-grow-1">
                                            <div class="d-flex align-items-center tw-gap-4">
                                                <div
                                                    class="pointer-events-auto tw-w-15 tw-h-15 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative z-1">
                                                    <img src="assets/images/thumbs/client-img2.png" alt="Client Image"
                                                        class="w-100 h-100 object-fit-cover">
                                                </div>
                                                <div class="">
                                                    <h5 class="text-22-px text-white">James anderson </h5>
                                                    <span class="text-white tw-mt-2">Ceo and Founder</span>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center tw-gap-4 tw-mt-6">
                                                <div
                                                    class="tw-text-3xl tw-leading-none d-flex hover-text-main-600 text-white testi-button-prev">
                                                    <i class="ph-bold ph-arrow-left"></i>
                                                </div>
                                                <div
                                                    class="tw-text-3xl tw-leading-none d-flex hover-text-main-600 text-white testi-button-next">
                                                    <i class="ph-bold ph-arrow-right"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-sm-block d-none">
                                            <img src="assets/images/icons/quote-icon.png" alt="Quote Icon">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="border border-white-26 bg-white-10 tw-py-60-px tw-px-44-px tw-rounded-xl">
                                <div class="">
                                    <h4 class="text-main-600 text-decoration-underline fw-semibold">“Amazing Software
                                        Services”</h4>
                                    <p class="text-36-px text-white fw-normal tw-mt-11 font-body">“A wonderful
                                        experience!
                                        They knew
                                        what they were doing & were incredibly knowledgeable throughout the process.”
                                    </p>
                                    <div class="tw-mt-15 d-flex align-items-end justify-content-between tw-gap-4">
                                        <div class="flex-grow-1">
                                            <div class="d-flex align-items-center tw-gap-4">
                                                <div
                                                    class="pointer-events-auto tw-w-15 tw-h-15 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative z-1">
                                                    <img src="assets/images/thumbs/client-img1.png" alt="Client Image"
                                                        class="w-100 h-100 object-fit-cover">
                                                </div>
                                                <div class="">
                                                    <h5 class="text-22-px text-white">Robiul Hasan</h5>
                                                    <span class="text-white tw-mt-2">Front End Developer</span>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center tw-gap-4 tw-mt-6">
                                                <div
                                                    class="tw-text-3xl tw-leading-none d-flex hover-text-main-600 text-white testi-button-prev">
                                                    <i class="ph-bold ph-arrow-left"></i>
                                                </div>
                                                <div
                                                    class="tw-text-3xl tw-leading-none d-flex hover-text-main-600 text-white testi-button-next">
                                                    <i class="ph-bold ph-arrow-right"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-sm-block d-none">
                                            <img src="assets/images/icons/quote-icon.png" alt="Quote Icon">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- ========================= Testimonials section End ================================= -->