<!-- ============================= Testimonials two section start ======================= -->
<section class="testimonials-two py-120">

    <div class="marquee overflow-hidden w-100" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
        <div class="marquee_left d-flex align-items-center tw-gap-16 overflow-hidden">
            <h2
                class="scrollingTextRightToLeft text-98-px text-neutral-200 text-uppercase hover-text-heading tw-duration-300">
                SUCCESS
            </h2>
            <h2
                class="scrollingTextRightToLeft text-98-px text-neutral-200 text-uppercase hover-text-heading tw-duration-300">
                .
            </h2>
            <h2
                class="scrollingTextRightToLeft text-98-px text-neutral-200 text-uppercase hover-text-heading tw-duration-300">
                STORY
            </h2>
            <h2
                class="scrollingTextRightToLeft text-98-px text-neutral-200 text-uppercase hover-text-heading tw-duration-300">
                .
            </h2>
            <h2
                class="scrollingTextRightToLeft text-98-px text-neutral-200 text-uppercase hover-text-heading tw-duration-300">
                CLIENT
            </h2>
            <h2
                class="scrollingTextRightToLeft text-98-px text-neutral-200 text-uppercase hover-text-heading tw-duration-300">
                .
            </h2>
            <h2
                class="scrollingTextRightToLeft text-98-px text-neutral-200 text-uppercase hover-text-heading tw-duration-300">
                REVIEWS
            </h2>
            <h2
                class="scrollingTextRightToLeft text-98-px text-neutral-200 text-uppercase hover-text-heading tw-duration-300">
                .
            </h2>
            <h2
                class="scrollingTextRightToLeft text-98-px text-neutral-200 text-uppercase hover-text-heading tw-duration-300">
                SATISFIED
            </h2>
        </div>
    </div>

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="pe-lg-5">
                    <div class="hover-animation-white">
                        <img src="assets/images/thumbs/testimonials-two-thumb.png" alt="Thumbnail"
                            class="w-100 h-100 tw-rounded-lg object-fit-cover">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 ps-lg-4">
                <div class="">
                    <div class="position-relative">
                        <h2 class="text-heading fw-semibold">“Great Services”</h2>
                        <p class="text-22-px fw-normal tw-mt-6 text-heading font-body">
                            “It's a pleasure working with Bunker. They understood our new brand positioning guidelines
                            and translated them beautifully and consistently into our on-going marketing comms. The team
                            is responsive, quick and always willing help winning partnership”
                        </p>
                        <div class="tw-mt-15 d-flex align-items-end justify-content-between tw-gap-4">
                            <div class="flex-grow-1">
                                <div class="d-flex align-items-center tw-gap-4">
                                    <div
                                        class="pointer-events-auto tw-w-15 tw-h-15 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative z-1">
                                        <img src="assets/images/thumbs/client-img2.png" alt="Client Image"
                                            class="w-100 h-100 object-fit-cover">
                                    </div>
                                    <div class="">
                                        <h5 class="text-22-px">James anderson </h5>
                                        <span class="tw-mt-1 fw-medium text-heading tw-text-lg"> <span
                                                class="fw-bold">Ceo</span> and Founder</span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-sm-block d-none position-absolute tw-end-0 bottom-0">
                                <img src="assets/images/icons/quote-icon.png" alt="Quote Icon"
                                    class="text-invert-black max-w-130-px opacity-50">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================= Testimonials two section end ======================= -->