<!-- ====================== Video Popup start ============================= -->
<div class="video-popup position-relative z-1 tw-py-280-px">
    <div class="parallax-window position-absolute tw-start-0 top-0 w-100 h-100 object-fit-cover" data-parallax="scroll"
        data-image-src="assets/images/thumbs/video-popup-img.png">
        <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg"
            class="play-button tw-w-148-px tw-h-148-px d-inline-flex justify-content-center align-items-center bg-white text-main-600 rounded-circle text-48-px position-absolute tw-start-50 tw--translate-middle top-50 z-1 hover-bg-main-600 hover-text-white group">
            <span class="text-main-gradient group-hover-text-white-gradient"><i class="ph-fill ph-play"></i></span>
        </a>
    </div>
</div>
<!-- ====================== Video Popup end ============================= -->