<!-- ======================== What We Do section start ============================ -->
<div class="what-we-do py-120 position-relative z-1 overflow-hidden">
    <div class="position-absolute top-0 tw-end-0 tw-mt-9 max-w-20-percent z-n1 animated-upDown">
        <img src="assets/images/shapes/what-we-do-shape2.png" alt="Shape" data-aos="fade-left" data-aos-duration="1000"
            data-aos-delay="100">
    </div>
    <div class="position-absolute bottom-0 tw-start-0 tw-mb-12 max-w-20-percent z-n1 animated-upDown">
        <img src="assets/images/shapes/what-we-do-shape1.png" alt="Shape" data-aos="fade-right" data-aos-duration="1000"
            data-aos-delay="100">
    </div>

    <div class="container">
        <div class="section-heading tw-mb-15 max-w-800-px">
            <h2 class="splitText">The direction your agency should take right now - Techito</h2>
        </div>
        <div class="">
            <div class="row gy-4">
                <div class="col-lg-4">
                    <div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <h6 class="">What We Do</h6>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="max-w-690-px">
                        <p class="text-neutral-500 max-w-610-px tw-text-lg" data-aos="fade-up" data-aos-duration="800"
                            data-aos-delay="50">We provides powerful, self-serve analytics
                            to help you understand customer behaviour and grow your business. With over 4,000 startups
                            trusting us, you'll be in safe hands.</p>
                        <div class="tw-mt-15">
                            <div class="d-flex justify-content-between tw-gap-10 flex-sm-row flex-column">
                                <div class="max-w-270-px" data-aos="fade-up" data-aos-duration="800"
                                    data-aos-delay="100">
                                    <h4 class="text-uppercase tw-mb-8">MARKETING</h4>
                                    <div class="d-flex flex-column tw-gap-6">
                                        <a href="service.html"
                                            class="d-flex align-items-center justify-content-between tw-text-lg fw-medium text-neutral-500 hover-text-main-600 tw-gap-6 hover-underline">
                                            Media Advertising
                                            <img src="assets/images/icons/arrow-right-long.png" alt="Arrow Icon">
                                        </a>
                                        <a href="service.html"
                                            class="d-flex align-items-center justify-content-between tw-text-lg fw-medium text-neutral-500 hover-text-main-600 tw-gap-6 hover-underline">
                                            IT Consulting
                                            <img src="assets/images/icons/arrow-right-long.png" alt="Arrow Icon">
                                        </a>
                                        <a href="service.html"
                                            class="d-flex align-items-center justify-content-between tw-text-lg fw-medium text-neutral-500 hover-text-main-600 tw-gap-6 hover-underline">
                                            Lead Generation
                                            <img src="assets/images/icons/arrow-right-long.png" alt="Arrow Icon">
                                        </a>
                                        <a href="service.html"
                                            class="d-flex align-items-center justify-content-between tw-text-lg fw-medium text-neutral-500 hover-text-main-600 tw-gap-6 hover-underline">
                                            Marketing Consulting
                                            <img src="assets/images/icons/arrow-right-long.png" alt="Arrow Icon">
                                        </a>
                                        <a href="service.html"
                                            class="d-flex align-items-center justify-content-between tw-text-lg fw-medium text-neutral-500 hover-text-main-600 tw-gap-6 hover-underline">
                                            Content Marketing
                                            <img src="assets/images/icons/arrow-right-long.png" alt="Arrow Icon">
                                        </a>
                                    </div>
                                </div>
                                <div class="max-w-270-px" data-aos="fade-up" data-aos-duration="800"
                                    data-aos-delay="300">
                                    <h4 class="text-uppercase tw-mb-8">CLOUD SOLUTION</h4>
                                    <div class="d-flex flex-column tw-gap-6">
                                        <a href="service.html"
                                            class="d-flex align-items-center justify-content-between tw-text-lg fw-medium text-neutral-500 hover-text-main-600 tw-gap-6 hover-underline">
                                            Media Advertising
                                            <img src="assets/images/icons/arrow-right-long.png" alt="Arrow Icon">
                                        </a>
                                        <a href="service.html"
                                            class="d-flex align-items-center justify-content-between tw-text-lg fw-medium text-neutral-500 hover-text-main-600 tw-gap-6 hover-underline">
                                            IT Consulting
                                            <img src="assets/images/icons/arrow-right-long.png" alt="Arrow Icon">
                                        </a>
                                        <a href="service.html"
                                            class="d-flex align-items-center justify-content-between tw-text-lg fw-medium text-neutral-500 hover-text-main-600 tw-gap-6 hover-underline">
                                            Lead Generation
                                            <img src="assets/images/icons/arrow-right-long.png" alt="Arrow Icon">
                                        </a>
                                        <a href="service.html"
                                            class="d-flex align-items-center justify-content-between tw-text-lg fw-medium text-neutral-500 hover-text-main-600 tw-gap-6 hover-underline">
                                            Marketing Consulting
                                            <img src="assets/images/icons/arrow-right-long.png" alt="Arrow Icon">
                                        </a>
                                        <a href="service.html"
                                            class="d-flex align-items-center justify-content-between tw-text-lg fw-medium text-neutral-500 hover-text-main-600 tw-gap-6 hover-underline">
                                            Content Marketing
                                            <img src="assets/images/icons/arrow-right-long.png" alt="Arrow Icon">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======================== What We Do section end ============================ -->