/* ======================== How It Works section start ============================== */
.how-it-works-two-item {
    &__step {
        margin-block-end: 16px;

        @media (min-width: 992px) {
            margin-block-end: 60px;
        }
    }
}

.arrow-line {
    animation: slideRight 10s linear infinite;
}

.arrow-line-two {
    animation: slideRightTwo 10s linear infinite;
    animation-delay: 4.15s;
    transform: translateX(-100%);
}

@keyframes slideRight {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(calc(100% - 300px));
    }
}

@keyframes slideRightTwo {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(calc(100% - 300px));
    }
}

/* ======================== How It Works section end ============================== */