/* Colors class start */
@each $color, $shades in $colors {
  @each $shade, $value in $shades {
    .text-#{$color}-#{$shade} {
      color: var(--#{$color}-#{$shade});
    }
  }
}

.text-main-gradient {
  background: linear-gradient(90deg, hsl(var(--main)) 0%, hsl(var(--main-two)) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text {
  &--white {
    color: hsl(var(--white));
  }

  &-heading {
    color: hsl(var(--heading-color));
  }

  &-body {
    color: hsl(var(--body-color));
  }

  &-main {
    color: var(--main-600);
  }

  &-white-80 {
    color: #FFFFFFCC;
  }

  &-white-30 {
    color: #FFFFFF4F;
  }
}

/* Colors class End */