/* Font Size Class Start */
.text {
  &-inherit {
    font-size: inherit;
  }

  &-18-px {
    font-size: clamp(0.875rem, 0.6442rem + 0.4808vw, 1.125rem);
  }
}

@each $property, $value in $font-sizes {
  .tw-text-#{$property} {
    font-size: $value;
  }
}

/* Font Size Class End */


@each $property, $value in $spaces {
  .tw-text-#{$property} {
    font-size: $value;
  }
}

/* Font Size Class End */