/* Font Size Class Start */
.text {
  &-inherit {
    font-size: inherit;
  }


  &-18-px {
    font-size: clamp(0.875rem, 0.6442rem + 0.4808vw, 1.125rem);
  }

  &-22-px {
    font-size: clamp(1.25rem, 1.0192rem + 0.4808vw, 1.375rem);
  }

  &-80-px {
    font-size: clamp(2.75rem, 0.6731rem + 4.3269vw, 5rem);
  }

  &-36-px {
    font-size: clamp(1.25rem, 0.6923rem + 1.6827vw, 2.25rem);
  }
}

@each $property, $value in $font-sizes {
  .tw-text-#{$property} {
    font-size: $value;
  }
}

/* Font Size Class End */


@each $property, $value in $spaces {
  .tw-text-#{$property} {
    font-size: $value;
  }
}

/* Font Size Class End */