/* Max width Css Class Start */
.max-w {
    &-200-px {
        max-width: 200px;
    }
    &-250-px {
        max-width: 250px;
    }

    &-1140-px {
        max-width: 1140px;
    }

    &-1410-px {
        max-width: 1410px;
    }

    &-1290-px {
        max-width: 1290px;
    }

    &-1740-px {
        max-width: 1740px;
    }

    &-690-px {
        max-width: 690px;
    }
}

/* Max width Css Class End */