/* ================================= Padding Css Start =========================== */
@each $property, $value in $spaces {
  .tw-p-#{$property} {
    padding: var(--size-#{$property});
  }
}

@each $property, $value in $spaces {
  .tw-px-#{$property} {
    padding-inline: var(--size-#{$property});
  }
}

@each $property, $value in $spaces {
  .tw-py-#{$property} {
    padding-block: var(--size-#{$property});
  }
}

@each $property, $value in $spaces {
  .tw-ps-#{$property} {
    padding-inline-start: var(--size-#{$property});
  }
}

@each $property, $value in $spaces {
  .tw-pe-#{$property} {
    padding-inline-end: var(--size-#{$property});
  }
}

@each $property, $value in $spaces {
  .tw-pt-#{$property} {
    padding-block-start: var(--size-#{$property});
  }
}

@each $property, $value in $spaces {
  .tw-pb-#{$property} {
    padding-block-end: var(--size-#{$property});
  }
}

.tw {
  &-p {
    &-36-px {
      padding: clamp(1rem, -6.1013rem + 9.4763vw, 2.25rem);
    }

    &-40-px {
      padding: clamp(1.5rem, 0.5769rem + 1.9231vw, 2.5rem);
    }

    &-48-px {
      padding: clamp(1.5rem, -12.1677rem + 32.9177vw, 3rem);
    }

    &-60-px {
      padding: clamp(1.5rem, -12.1677rem + 32.9177vw, 3.75rem);
    }
  }

  &-px {
    &-36-px {
      padding-inline: clamp(1.5rem, -12.1677rem + 32.9177vw, 2.25rem);
    }

    &-44-px {
      padding-inline: clamp(1.5rem, -12.1677rem + 32.9177vw, 2.75rem);
    }

    &-48-px {
      padding-inline: clamp(1.5rem, -12.1677rem + 32.9177vw, 3rem);
    }
  }

  &-py {
    &-44-px {
      padding-block: clamp(1.5rem, 0.3846rem + 3.3654vw, 2.75rem);
    }

    &-60-px {
      padding-block: clamp(2rem, 0.3846rem + 3.3654vw, 3.75rem);
    }

    &-54-px {
      padding-block: clamp(2rem, 0.3846rem + 3.3654vw, 3.375rem);
    }
  }
}

.pt-80 {
  padding-block-start: 80px;
}

.py-80 {
  padding-block: 80px;
}

.tw-py-280-px {
  padding-block: clamp(12rem, -17.2222rem + 46.2963vw, 22rem)
}

.py-120 {
  padding-block-start: 80px;
  padding-block-end: 80px;

  @media (min-width: 992px) {
    padding-block-start: 120px;
    padding-block-end: 120px;
  }
}

.pt-120 {
  padding-block-start: 80px;

  @media (min-width: 992px) {
    padding-block-start: 120px;
  }
}

.pb-120 {
  padding-block-end: 80px;

  @media (min-width: 992px) {
    padding-block-end: 120px;
  }
}

/* ================================= Padding Css End =========================== */