.about-image {
    @media (min-width: 1200px) {
        position: absolute !important;
        top: 50%;
        transform: translateY(-50%) !important;
        inset-inline-start: 50%;
        height: 100%;
    }
}