/* ====================== Contact One section start ============================== */
.blur-bg-white {
    background: #FFFFFF3B;
    border: 1px solid #FFFFFF4F;
    backdrop-filter: blur(145px);
}

.end-62-percent {
    inset-inline-end: 62%;
}

/* ====================== Contact One section end ============================== */