/* =========================== Accordion Css start ============================= */
.common-accordion {
    .accordion-item {
        background-color: transparent;
        color: #fff;
        border: 0;
        border-bottom: 1px solid #FFFFFF4F !important;
    }

    &:first-of-type .accordion-button.collapsed {
        border-radius: 5px;
    }

    &:last-of-type .accordion-button.collapsed {
        border-radius: 5px;
    }

    .accordion-body {
        padding: 0;
        padding-inline-start: 44px;
        padding-block-end: 28px;
        padding-inline-end: 40px;
    }

    .accordion-button {
        background-color: transparent;
        padding-block: 40px;
        padding-inline-start: 44px;

        @media (max-width: 1200px) {
            padding-block: 28px;
        }

        &::after {
            background-image: none;
        }

        &:focus {
            box-shadow: none;
        }

        &:not(.collapsed) {
            background-color: transparent !important;
            box-shadow: none;
            color: var(--main-600);

            &::after {
                background-image: none;
                color: var(--main-600);
            }
        }

        &[aria-expanded="true"],
        &[aria-expanded="false"] {
            &::after {
                position: absolute;
                content: "\e3d4";
                font-family: "Phosphor";
                width: 24px;
                height: 24px;
                border-radius: 50%;
                border: 1px solid var(--neutral-100);
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                inset-inline-end: 0;
                inset-block-start: 50%;
                transform: translateY(-50%);
                color: var(--neutral-500);
                transition: .3s ease-in-out;
            }
        }

        &[aria-expanded="true"]::after {
            background-color: #030303 !important;
            color: #fff !important;
            border-color: #030303 !important;
            content: "\e32a";
            inset-inline-end: 24px;
        }
    }
}


// .accordion-item:has(.accordion-collapse.show),
.accordion-item:has(.accordion-button[aria-expanded=true]) {
    background: linear-gradient(90deg, #1DCCF3 0%, #6294FF 100%) !important;
    border-radius: 16px;
}

@media (max-width: 575px) {

    .sm-rounded-xl,
    .sm-rounded-xl .nav-link {
        border-radius: 12px !important;
    }

    .sm-device-link-bg {
        .nav-link.active {
            background: linear-gradient(90deg, hsl(var(--main)) 0%, hsl(var(--main-two)) 100%) !important;
        }
    }
}

/* ================================= Accordion Css End =========================== */