/* =========================== Accordion Css start ============================= */
.common-accordion {
    .accordion-item {
        &:not(:last-child) {
            margin-block-end: 20px;
        }
    }

    &:first-of-type .accordion-button.collapsed {
        border-radius: 5px;
    }

    &:last-of-type .accordion-button.collapsed {
        border-radius: 5px;
    }

    .accordion-button {
        &::after {
            background-image: none;
        }

        &:focus {
            box-shadow: none;
        }

        &:not(.collapsed) {
            background-color: transparent !important;
            box-shadow: none;
            color: var(--main-600);

            &::after {
                background-image: none;
                color: var(--main-600);
            }
        }

        &[aria-expanded="true"],
        &[aria-expanded="false"] {
            &::after {
                font-family: "Phosphor";
                font-weight: 900;
                content: "\f106";
                color: var(--main-600);
                display: inline-block;
                position: absolute;
                inset-block-start: 50%;
                transform: translateY(-50%);
                inset-inline-end: 30px;
                height: unset;
                text-align: center;

                @include msm-screen {
                    inset-inline-end: 20px;
                }
            }
        }

        &[aria-expanded="false"] {
            &::after {
                content: "\f107";
                color: hsl(var(--heading-color));
            }
        }
    }
}

@media (max-width: 575px) {

    .sm-rounded-xl,
    .sm-rounded-xl .nav-link {
        border-radius: 12px !important;
    }

    .sm-device-link-bg {
        .nav-link.active {
            background: var(--gradient-main) !important;
        }
    }
}

.background {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50rem;
    background: var(--gradient-main);
    position: absolute;
    z-index: -1;
    inset-block-start: 50%;
    transform: translateY(-50%);
    inset-inline-start: 0;
    transition: all 0.2s linear;
    border-radius: 50rem;
    pointer-events: none;
}

.background.style-two {
    height: calc(100% - 6px);
}

/* ================================= Accordion Css End =========================== */